<template>
  <aside id="sidenav-main" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 ms-3"
    :class="`${isRTL ? 'me-3 rotate-caret fixed-end' : 'fixed-start ms-3'
      } ${sidebarType}`">
    <div class="sidenav-header">
      <i class="top-0 p-3 cursor-pointer fas fa-times text-secondary opacity-5 position-absolute end-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="m-0 navbar-brand" href="/">
        <img v-for="l in logo" :src="l" class="navbar-brand-img h-100" alt="main_logo" />
        <img v-if="!logo || logo.length == 0" src="@/assets/images/empty-banner.png" class="navbar-brand-img h-100" />
        <span class="ms-2 font-weight-bold text-white"> {{ bannerTitle }} </span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2" />
    <sidenav-list />
  </aside>
</template>
<script>
import SidenavList from "./SidenavList.vue";
import { mapActions, mapState } from "vuex";
import UserService from "@/shared/services/UserService";
import systemConfigService from "@/shared/services/systemConfigService";
import { distinctUntilChanged, Observable, Subject, takeUntil } from "rxjs";
import { ConfigurationCode } from "@/shared/enums/configurationCode.enum";
import { useStore } from 'vuex'
import storage from "@/shared/services/storage";

export default {
  name: "index",
  components: {
    SidenavList,
  },
  data() {
    return {
      // logo,
      // logoDark,
    };
  },
  computed: {
    ...mapState(["isRTL", "sidebarType", "isDarkMode", "loginToken", "currentUser", "bannerTitle", "logo"]),
    ...mapActions(['setBanner', 'setUser', 'setMenu'])
  },
  setup() {
    const store = useStore()
    systemConfigService.onConfigChanged.pipe(distinctUntilChanged()).subscribe(x => {
      store.dispatch('setBanner', {
        title: systemConfigService.getConfigValue(ConfigurationCode.BannerTitle),
        subTitle: systemConfigService.getConfigValue(ConfigurationCode.BannerSubTitle),
        image: systemConfigService.getConfigValue(ConfigurationCode.BannerImage),
        link: systemConfigService.getConfigValue(ConfigurationCode.BannerDashboardLink),
        logo: systemConfigService.getConfigValue(ConfigurationCode.Logo)
      })
    })

    UserService.subscribeUser().pipe(distinctUntilChanged()).subscribe(user => {
      if (user) {
        storage.set('userId', user.id)
        store.dispatch('setLoginToken', user.id);
        store.dispatch('setUser', user);
      } else {
        storage.remove('userId');
        storage.remove('tbtoken');
        store.dispatch('setLoginToken', null);
        store.dispatch('setUser', null);
      }
    })
  }
};
</script>
