<template>
  <li class="nav-item">
    <!-- <a
      class="nav-link text-white"
      data-bs-toggle="collapse"
      aria-expanded="true"
      :href="`#${refer}`"
      @click="isExpanded = !isExpanded"
    >
      <span class="sidenav-mini-icon"> {{ miniIcon }} </span>
      <span class="sidenav-normal me-3 ms-2 ps-1">
        {{ text }} <b class="caret"></b
      ></span>
    </a> -->
    <router-link :to="{ name: refer }" :aria-controls="refer" :aria-expanded="isExpanded" class="nav-link"
      :class="getRoute() === refer ? `active bg-gradient-${color}` : ''" v-bind="$attrs"
      @click="isExpanded = !isExpanded">
      <span class="nav-link-text">{{
        text
      }}</span>
    </router-link>
    <div :class="isExpanded ? 'collapse show' : 'collapse'">
      <ul class="nav nav-sm flex-column">
        <slot name="nav-child-item" />
      </ul>
    </div>
  </li>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SidenavCollapseItem",
  props: {
    refer: {
      type: String,
      required: true,
    },
    miniIcon: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
  },
  methods: {
    getRoute() {
      // const routeArr = this.$route.path.split("/");
      // return routeArr[1];
      return this.$route.name;
    }
  },
  data() {
    return {
      isExpanded: false,
    };
  },
  computed: {
    ...mapState(["isRTL", "color"])
  }
};
</script>
