<template>
  <div class="w-auto h-auto collapse navbar-collapse max-height-vh-100 h-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <sidenav-collapse url="#" :aria-controls="''" v-bind:collapse="false" collapseRef="home" navText="หน้าแรก"
          refName="home">
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse url="#" :aria-controls="''" v-bind:collapse="false" collapseRef="project" navText="โครงการ"
          refName="project">
        </sidenav-collapse>
      </li>

      <li class="nav-item">
        <sidenav-collapse url="#" :aria-controls="''" v-bind:collapse="false" collapseRef="manuals" refName="manual"
          navText="คู่มือการใช้งาน">
        </sidenav-collapse>
      </li>

      <li class="mt-3 nav-item">
        <h6 class="text-xs ps-4 text-uppercase font-weight-bolder text-white"
          :class="this.$store.state.isRTL ? 'me-4' : 'ms-2'">
          Dashboard
        </h6>
      </li>

      <li class="nav-item">
        <sidenav-collapse url="#" :aria-controls="''" v-bind:collapse="false" collapseRef="pm25-dashboard" navText="PM2.5"
          refName="pm2.5">
        </sidenav-collapse>
      </li>
      <div v-if="menuList && menuList.length >= 1">
        <li class="mt-3 nav-item">
          <h6 class="text-xs ps-4 text-uppercase font-weight-bolder text-white ms-2">
            Settings
          </h6>
        </li>

        <li class="nav-item" v-for="menu in menuList" :key="menu">
          <sidenav-collapse url="#" :aria-controls="''" v-bind:collapse="false" collapseRef="user-project"
            :refName="menu.menuPathName" :navText="menu.menuName">
          </sidenav-collapse>
        </li>
      </div>
    </ul>
    <div class="sidenav-footer position-absolute w-100 bottom-0">
      <div class="mx-3">
        <a class="btn mt-4 w-100" :class="`bg-gradient-${this.$store.state.color}`" @click="clickLogin"
          v-if="!loginToken">เข้าสู่ระบบ</a>
        <a class="btn mt-4 w-100" :class="`bg-gradient-danger`" @click="logout" v-if="loginToken">ออกจากระบบ</a>
        <!-- <a class="btn mt-4 w-100">ออกจากระบบ</a> -->
      </div>
    </div>
  </div>
</template>
<script>
import storage from "@/shared/services/storage";
import SidenavCollapse from "./SidenavCollapse.vue";
import SidenavCollapseItem from "./SidenavCollapseItem.vue";
import UserService from "@/shared/services/UserService";
import menuService from '@/shared/services/menuService';
import { distinctUntilChanged } from "rxjs";
import { mapActions, mapState } from "vuex";
import { useStore } from 'vuex'
import router from "@/router";

export default {
  name: "SidenavList",
  props: {
    cardBg: String
  },
  data() {
    return {
      title: "Soft UI Dashboard PRO",
      controls: "dashboardsExamples",
      isActive: "active"
    };
  },
  components: {
    SidenavCollapse,
    SidenavCollapseItem
  },
  computed: {
    ...mapState(['menuList', 'loginToken']),
    ...mapActions(['setMenu', 'setLoginToken', 'setCurrentUser'])
  },
  methods: {
    clickLogin() {
      UserService.subscribeLoginTrigger().next(true);
    },
    logout() {
      UserService.Logout().then(res => {
        if (this.$route.matched[0].name == 'user') {
          router.replace({ name: 'home' })
        }else{
          router.replace({ name: 'home' })
        }
      });
    }
  },
  setup() {
    const store = useStore()
    validateUserToken();

    UserService.subscribeUser().pipe(distinctUntilChanged()).subscribe(user => {
      if (user) {
        var token = storage.get('userId')
        getMenuByUser(token)
      } else {
        store.dispatch('setMenu', [])
        store.dispatch('setLoginToken', null)
      }
    })
    //Functions Here
    function validateUserToken() {
      var token = storage.get('userId')
      if (!token) {
        UserService.subscribeLoginTrigger().next(true)
      } else {
        UserService.getUserDetail(token)
        getMenuByUser(token);
      }
    }

    function getMenuByUser(userId) {
      menuService.getMenuByUser(userId).then((res) => {
        store.dispatch('setMenu', res)
      })
    }
  }
};
</script>
