<script setup lang="ts">
import { ActionType } from '@/shared/enums/actionType.enum';
import { FaqDTO } from '@/model/faqDTO.model';
import faqService from '@/shared/services/faqService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';


const props = defineProps<{
    action: string,
    faqId?: string | null
}>()
const emit = defineEmits(['saveCompleted', 'cancel'])
const data = ref<FaqDTO>(new FaqDTO())
const store = useStore()
const color = computed(() => store.state.color)

onMounted(() => {
    if (props.action == ActionType.Edit && props.faqId != null) {
        getFaqData(props.faqId);
    }
})

function getFaqData(faqId: string) {
    faqService.getFaqById(faqId).then((res: any) => {
        data.value = res;
    }).catch((err: any) => { })
}

function validateSave() {
    if (data.value.faqName === null || !data.value.faqName
        || data.value.faqLink === null || !data.value.faqLink) {
        return false;
    }
    return true;
}

function save() {
    if (props.action == ActionType.Add) {
        faqService.AddFaq(data.value).then((res: any) => {
            emit('saveCompleted');
        }).catch((err: any) => { })
    } else if (props.action == ActionType.Edit) {
        faqService.UpdateFaq(data.value).then((res: any) => {
            emit('saveCompleted');
        }).catch((err: any) => { })
    }
}

function cancel() {
    emit('cancel')
}
</script>

<template>
    <div class="card-body px-5 pb-2">
        <material-input id="question-name" label="คำถาม" class="mb-3" v-model="data.faqName"></material-input>
        <QuillEditor theme="snow" toolbar="full" v-model:content="data.faqLink" contentType="html" />
    </div>
    <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color @clicked="save"> บันทึก
        </material-button>
        <material-button class="my-4 mb-2" variant="outline" :color="'danger'" @clicked="cancel"> ยกเลิก
        </material-button>
    </div>
</template>

<style lang="scss" scoped>
</style>