<script setup lang="ts">
import UserService from '@/shared/services/UserService';
import { UserDetail } from '@/model/userDetail.model';
import { computed, onMounted, ref } from 'vue';
import type { RoleDTO } from '@/model/roleDTO.model';
import masterService from '@/shared/services/masterService';
import { ActionType } from '@/shared/enums/actionType.enum';
import roleService from '@/shared/services/roleService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import CustomSelect from "@/shared/components/CustomSelect.vue";
import { useStore } from 'vuex';

const store = useStore()
const color = computed(() => store.state.color)
const emit = defineEmits(['saveCompleted', 'cancel'])
const props = defineProps<{
    action: string,
    userId?: string | null
}>()
const userData = ref<UserDetail>(new UserDetail());
const facultyList = ref<any[]>([]);
const departmentList = ref<any[]>([]);
const majorList = ref<any[]>([]);
const roleList = ref<RoleDTO[]>([]);
const userRoleList = ref<string[]>([]);


onMounted(() => {
    if (props.action === 'edit') {
        getUserDetail(props.userId);
        getRoleList();
    }
})


function getUserDetail(userId) {
    UserService.getUserDetail(userId).then((res: any) => {
        userData.value = res;
        userRoleList.value = userData.value.role.map(({ id }) => id);
        getFacultyList();
    })
}

function getRoleList() {
    roleService.getRoleList()
        .then((res: any) => {
            roleList.value = [...res]
        })
}

function getFacultyList() {
    masterService.getFacultyList()
        .then((res: any) => {
            facultyList.value = [...res]
            if (userData.value?.facultyId) {
                getDepartmentList();
            }
            if (userData.value?.departmentId) {
                getMajorList();
            }
        })
}

function onFacultyChange() {
    if (userData.value?.facultyId) {
        getDepartmentList();
    }
    userData.value.facultyId = null;
    departmentList.value = [];
    userData.value.majorId = null;
    majorList.value = [];
}
function getDepartmentList() {
    masterService.getDepartmentListByFaculty(userData.value?.facultyId as string)
        .then((res: any) => {
            // userData.value.departmentId = null;
            departmentList.value = [...res]
        })
}
function onDepartmentChange() {
    if (userData.value?.departmentId) {
        getMajorList();
    }
    userData.value.majorId = null;
    majorList.value = []

}
function getMajorList() {
    masterService.getMajorByDepartment(userData.value?.departmentId as string)
        .then((res: any) => {
            // userData.value.majorId = null;
            majorList.value = [...res]
        })
}

function validateSave() {
    if (userData.value.email === null || !userData.value.email
        || userData.value.role === null || (userData.value.role.length === 0)
        || userData.value.namePrefix === null || !userData.value.namePrefix
        || userData.value.firstName === null || !userData.value.firstName
        || userData.value.lastName === null || !userData.value.lastName
        || userData.value.identificationNumber === null || !userData.value.identificationNumber
        || userData.value.departmentId === null || !userData.value.departmentId
        || userData.value.facultyId === null || !userData.value.facultyId
        || userData.value.majorId === null || !userData.value.majorId) {
        return false;
    }
    return true;
}

function save() {
    userData.value.role = roleList.value.filter(rl => userRoleList.value.includes(rl.id));
    UserService.update(userData.value).then((res: any) => {
        emit('saveCompleted');
    })
}

function cancel() {
    emit('cancel')
}

</script>

<template>
    <div class="card-body px-5 pb-2">
        <material-input id="email" label="Email *" class="mb-3" v-model="userData.email"></material-input>
        <custom-select class="mb-3" :label="'ตำแหน่ง *'" :items="roleList" itemValue="id" itemTitle="roleName"
            v-model="userRoleList">
        </custom-select>
        <material-input id="prefix" label="คำนำหน้าชื่อ *" class="mb-3" v-model="userData.namePrefix"></material-input>
        <div class="row">
            <div class="col">
                <material-input id="firstname" label="ชื่อ *" class="mb-3" v-model="userData.firstName"></material-input>
            </div>
            <div class="col">
                <material-input id="lastname" label="นามสกุล *" class="mb-3" v-model="userData.lastName"></material-input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <material-input id="identificationNo" label="เลขประจำตัวนักศึกษา *" class="mb-3"
                    v-model="userData.identificationNumber"></material-input>
            </div>
            <div class="col">
                <custom-select :label="'ตำแหน่ง *'" :items="facultyList" itemValue="id" itemTitle="name"
                    v-model="userData.facultyId" v-on:update:modelValue="onFacultyChange"></custom-select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <custom-select :label="'ตำแหน่ง *'" :items="departmentList" itemValue="id" itemTitle="name"
                    v-model="userData.departmentId" v-on:update:modelValue="onDepartmentChange"></custom-select>
            </div>
            <div class="col">

                <custom-select :label="'ตำแหน่ง *'" :items="majorList" itemValue="id" itemTitle="name"
                    v-model="userData.majorId"></custom-select>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color :disabled=!validateSave() @clicked="save">
            บันทึก
        </material-button>
        <material-button class="my-4 mb-2" variant="outline" :color="'danger'" @clicked="cancel"> ยกเลิก
        </material-button>
    </div>
</template>

<style  lang="scss" scoped>
.v-container {
    width: 65vw;
}

.v-card .v-card-text {
    max-height: 75vh;
    overflow: auto;

    @media screen and (height > 700) and (height < 850px) {
        max-height: 65vh;
    }

    @media screen and (height < 700px) {
        max-height: 50vh;
    }
}
</style>