<script setup lang="ts">
import { MenuDTO } from '@/model/menuDTO.model';
import menuService from '@/shared/services/menuService';
import { computed, onMounted, ref } from 'vue';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import { useStore } from 'vuex';
import { ActionType } from '@/shared/enums/actionType.enum';

const store = useStore()
const color = computed(() => store.state.color)


const props = defineProps<{
    action: string,
    menuId?: string | null
}>()
const emit = defineEmits(['saveCompleted', 'cancel'])
const data = ref<MenuDTO>(new MenuDTO())

onMounted(() => {
    if (props.action == 'edit' && props.menuId != null) {
        menuService.getMenuDetail(props.menuId)
            .then((res: any) => {
                data.value = res;
            })
    }
})

function validateSave() {
    if (data.value.menuCode === null || !data.value.menuCode
        || data.value.menuName === null || !data.value.menuName
        || data.value.menuPath === null || !data.value.menuPath
        || data.value.menuPathName === null || !data.value.menuPathName) {
        return false;
    }
    return true;
}

function save() {
    if (props.action == 'add') {
        menuService.addMenu(data.value).then(res => {
            emit('saveCompleted');
        })
    } else if (props.action == 'edit') {
        menuService.updateMenu(data.value).then(res => {
            emit('saveCompleted');
        })
    }
}

function cancel() {
    emit('cancel')
}

</script>

<template>
    <div class="card-body px-5 pb-2">
        <material-input id="menuCode" label="รหัสเมนู" class="mb-3" v-model="data.menuCode"
            :disabled="action === ActionType.Edit"></material-input>
        <material-input id="menuName" label="ชื่อเมนู" class="mb-3" v-model="data.menuName"></material-input>
        <material-input id="manuPath" label="menu path" class="mb-3" v-model="data.menuPath"></material-input>
        <material-input id="menuPathName" label="menu path name" class="mb-3" v-model="data.menuPathName"></material-input>
    </div>
    <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color :disabled=!validateSave() @clicked="save">
            บันทึก
        </material-button>
        <material-button class="my-4 mb-2" variant="outline" :color="'danger'" @clicked="cancel"> ยกเลิก
        </material-button>
    </div>
</template>

<style lang="scss" scoped>
.v-card .v-card-text {
    max-height: 75vh;
    overflow: auto;

    @media screen and (height > 700) and (height < 850px) {
        max-height: 65vh;
    }

    @media screen and (height < 700px) {
        max-height: 50vh;
    }
}
</style>