<script setup lang="ts">
import type { MenuDTO } from '@/model/menuDTO.model';
import { RoleDTO } from '@/model/roleDTO.model';
import menuService from '@/shared/services/menuService';
import projectService from '@/shared/services/projectService';
import roleService from '@/shared/services/roleService';
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import MaterialCheckbox from "@/shared/components/MaterialCheckbox.vue";

const store = useStore()
const color = computed(() => store.state.color)
const props = defineProps<{
    action: string,
    roleId?: string | null
}>()
const emit = defineEmits(['saveCompleted', 'cancel'])
const data = ref<RoleDTO>(new RoleDTO())
const menuList = ref<MenuDTO[]>([]);
const selectedMenu = ref<string[]>([]);

onMounted(() => {
    getMenuList();
    if (props.action == 'edit' && props.roleId != null) {
        getRoleDetail();
    }
})

function getRoleDetail() {
    roleService.getRoleDetail(props.roleId)
        .then((res: any) => {
            data.value = res;
            selectedMenu.value = data.value?.menuAccess.map(({ id }) => id);
        })
}

function getMenuList() {
    menuService.getMenuList()
        .then((res: any) => {
            menuList.value = res;
        })
}

function validateSave() {
    if (data.value.roleCode === null || !data.value.roleCode
        || data.value.roleName === null || !data.value.roleName) {
        return false;
    }
    return true;
}

function save() {
    data.value.menuAccess = menuList.value.filter(m => selectedMenu.value.includes(m.id))
    if (props.action == 'add') {
        roleService.addRole(data.value).then(res => {
            emit('saveCompleted');
        })
    } else if (props.action == 'edit') {
        roleService.updateRole(data.value).then(res => {
            emit('saveCompleted');
        })
    }
}

function cancel() {
    emit('cancel')
}

</script>

<template>
    <div class="card-body px-5 pb-2">
        <material-input id="roleCode" label="รหัสกลุ่มผู้ใช้" class="mb-3" v-model="data.roleCode"
            :disabled="action === 'edit'"></material-input>
        <material-input id="roleName" label="ชื่อกลุ่มผู้ใช้" class="mb-3" v-model="data.roleName"></material-input>
        <material-checkbox name="use-for-register" :label="'ใช้สำหรับการสมัครสมาชิก'" id="use-for-register"
            v-model="data.userForRegister"></material-checkbox>
        <div class="row text-center">
            <h5 class="mt-3"> สิทธิ์การใช้งาน </h5>
        </div>
        <div class="row">
            <div class="col col-4" v-for="item in menuList" :key="item.id">
                <material-checkbox class="mb-3" name="menu" :label="item.menuName" :checkValue="item.id" :id="item.id"
                    v-model:valueList="selectedMenu" :multiple=true></material-checkbox>
            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color :disabled=!validateSave() @clicked="save">
            บันทึก
        </material-button>
        <material-button class="my-4 mb-2" variant="outline" :color="'danger'" @clicked="cancel"> ยกเลิก
        </material-button>
    </div>
</template>

<style lang="scss" scoped></style>