<script setup lang="ts">
import { ProjectDetail } from '@/model/projectDetail.model';
import projectService from '@/shared/services/projectService';
import UserService from '@/shared/services/UserService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore()
const color = computed(() => store.state.color)
const props = defineProps<{
    action: string,
    projectId?: string | null
}>()
const emit = defineEmits(['saveCompleted', 'cancel'])
const projectData = ref<ProjectDetail>(new ProjectDetail())

onMounted(() => {
    if (props.action == 'edit' && props.projectId != null) {
        projectService.getProjectDetail(props.projectId)
            .then((res: any) => {
                projectData.value = res;
            })
    }
})

function handleImage(ev: any) {
    const img = ev.target.files[0];
    createBase64Image(img);
}

function validateSave() {
    if (projectData.value.subjectCode === null || !projectData.value.subjectCode
        || projectData.value.projectName === null || !projectData.value.projectName
        || projectData.value.projectDescription === null || !projectData.value.projectDescription
        || projectData.value.projectBanner === null || !projectData.value.projectBanner) {
        return false;
    }
    return true;
}

function createBase64Image(fileObject: File) {
    const reader = new FileReader();
    var img: any;
    reader.readAsDataURL(fileObject)
    reader.onloadend = (e) => {
        img = e.target?.result;
        projectData.value.projectBanner = img;
    }
}

function save() {
    if (props.action == 'add') {
        projectData.value.ownerId = UserService.getCurrentUser()?.id;
        projectService.addProject(projectData.value).then(res => {
            emit('saveCompleted');
        })
    } else if (props.action == 'edit') {
        projectService.editProject(projectData.value).then(res => {
            emit('saveCompleted');
        })
    }
}

function cancel() {
    emit('cancel')
}


</script>

<template>
    <div class="card-body px-5 pb-2">
        <material-input id="projectName" label="ชื่อโครงการ" class="mb-3"
            v-model="projectData.projectName"></material-input>
        <material-input id="subjectNo" label="รหัสวิชา" class="mb-3" v-model="projectData.subjectCode"></material-input>
        <QuillEditor theme="snow" class="mb-3" toolbar="full" v-model:content="projectData.projectDescription"
            contentType="html" />

        <v-img class="banner-example" v-if="projectData.projectBanner" :src="(projectData.projectBanner as string)" />

        <material-input id="uploadImg" type="file" class="mb-3" @inputChanged="handleImage"></material-input>
        <material-input id="dashboard" label="dashboard" class="mb-3" v-model="projectData.dashboard"></material-input>
    </div>
    <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color :disabled=!validateSave() @clicked="save">
            บันทึก
        </material-button>
        <material-button class="my-4 mb-2" variant="outline" :color="'danger'" @clicked="cancel"> ยกเลิก
        </material-button>
    </div>
</template>

<style lang="scss" scoped>
.banner-example {
    width: inherit
}

.v-container {
    width: 65vw;
}

.v-card .v-card-text {
    max-height: 75vh;
    overflow: auto;

    @media screen and (height > 700) and (height < 850px) {
        max-height: 65vh;
    }

    @media screen and (height < 700px) {
        max-height: 50vh;
    }
}
</style>