<script setup lang="ts">
import type { MenuDTO } from '@/model/menuDTO.model';
import menuService from '@/shared/services/menuService';
import NavbarDefault from '@/layout/NavbarDefault.vue';
import UserService from '@/shared/services/UserService';
import { onMounted, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const currentUser = ref();
const menuList = ref<MenuDTO[]>([]);
// const activeRoute = ref<string>('');

onMounted(() => {
    currentUser.value = UserService.getCurrentUser();
    if (currentUser.value) {
        getMenuByUser(currentUser.value.id);
    }

    UserService.subscribeUser().subscribe(user => {
        if (user) {
            getMenuByUser(user.id);
        }
    })
})

function getMenuByUser(userId: string) {
    menuService.getMenuByUser(userId).then((res: any) => {
        menuList.value = res;
    })
}

function logout() {
    UserService.Logout();
}

</script>

<template>
    <RouterView />
</template>

<style scoped></style>