<script setup lang="ts">

</script>

<template>
    <v-container fluid>
        <h2> Setup Theme </h2>
        <v-card>
            <v-card-text>
                
            </v-card-text>
        </v-card>
    </v-container>
</template>

<style lang="scss" scoped>

</style>