<script setup lang="ts">
import { ActionType } from '@/shared/enums/actionType.enum';
import type { FaqDTO } from '@/model/faqDTO.model';
import faqService from '@/shared/services/faqService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const showAddEditFaqModal = ref(false)
const action = ref('')
const selectedFaqId = ref<string | null>(null);
const faqList = ref<FaqDTO[]>([]);

const store = useStore()
const color = computed(() => store.state.color)

onMounted(() => {
    getFaq();
})

function getFaq() {
    faqService.getFaqList().then((res: any) => {
        faqList.value = res;
    })
}

function onSaveCompleted() {
    action.value = null
    showAddEditFaqModal.value = false
    getFaq();
}

function addFaq(newFaq: FaqDTO) {
    selectedFaqId.value = null;
    showAddEditFaqModal.value = true
    action.value = ActionType.Add

}

function editFaq(faqId: string) {
    selectedFaqId.value = faqId;
    showAddEditFaqModal.value = true
    action.value = ActionType.Edit
}

function deleteFaq(faqId: string) {
    faqService.DeleteFaq(faqId).then((res: any) => {
        getFaq();
    }).catch(err => {

    })
}


function onCancel() {
    showAddEditFaqModal.value = !showAddEditFaqModal.value
    action.value = null
}
</script>

<template>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                            <h6 class="text-white text-capitalize ps-3"> {{ action ? (action == ActionType.Add ? 'เพิ่ม' :
                                'แก้ไข') : 'ตั้งค่า' }}คำถามที่พบบ่อย </h6>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-2" v-if="!showAddEditFaqModal">
                        <div class="table-responsive p-2">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                            FAQ
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                            Content
                                        </th>
                                       
                                        <th class="text-secondary opacity-7 "></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in faqList" :key="item.id">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm"> {{ item.faqName }} </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div v-html="$filters.maxLengthText(item.faqLink, 500)"></div>
                                        </td>
                                        <td class="text-end">
                                            <material-button class="my-4 mb-2 mr-3" variant="outline" :color="'secondary'"
                                                @clicked="editFaq(item.id)"> แก้ไข
                                            </material-button>
                                            <material-button class="my-4 mb-2" variant="outline" :color="'danger'"
                                                @clicked="deleteFaq(item.id)"> ลบคำถาม
                                            </material-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-end" v-if="!showAddEditFaqModal">
                        <material-button class="my-4 mb-2" variant="gradient" :color=color @clicked="addFaq"> เพิ่มคำถาม
                        </material-button>
                    </div>
                    <AddEditFaqComponent v-if="showAddEditFaqModal" @saveCompleted="onSaveCompleted" @cancel="onCancel"
                        :action="action" :faqId="selectedFaqId" />
                </div>
            </div>
        </div>
    </div>

    <!-- <v-dialog v-model="showAddEditFaqModal"> -->

    <!-- </v-dialog> -->
</template>

<style lang="scss" scoped>
</style>