<script setup lang="ts">
import type { SystemConfiguration } from '@/model/systemConfiguration.model';
import { computed, onMounted, ref } from 'vue';
import systemConfigService from '@/shared/services/systemConfigService';
import MaterialInput from "@/shared/components/MaterialInput.vue";
import MaterialTextarea from "@/shared/components/MaterialTextarea.vue";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { useStore } from 'vuex';

const configurationList = ref<SystemConfiguration[]>([]);
const store = useStore()
const color = computed(() => store.state.color)

onMounted(() => {
    systemConfigService.getSystemConfigurationTable()
        .then((res: any) => {
            res.forEach(r => {
                if (r.inputType === 'multiple-image') {
                    if ((r.configurationValue as string).length != 0)
                        r.configurationValue = JSON.parse((r.configurationValue as string))
                }
            });
            configurationList.value = [...res];
        })
        .catch((err: any) => {

        })
})

function onUploadMultipleImage(ev: any, item_ref: SystemConfiguration) {
    var files = ev?.target?.files ?? [];
    item_ref.configurationValue = [];
    Object.keys(files).forEach((fl => {
        createBase64Image(files[fl], item_ref)
    }))
}

function handleImage(ev: any, item_ref: SystemConfiguration) {
    const img = ev.target.files[0];
    createBase64Image(img, item_ref);
}

function createBase64Image(fileObject: File, item_ref: SystemConfiguration) {
    const reader = new FileReader();
    var img: any;
    reader.readAsDataURL(fileObject)
    reader.onloadend = (e) => {
        img = e.target?.result;
        if (item_ref.inputType === 'multiple-image') {
            if (!item_ref.configurationValue) item_ref.configurationValue = [];
            (item_ref.configurationValue as any[]).push(img)
        } else {
            item_ref.configurationValue = img;
        }
    }
}

function save() {
    systemConfigService.updateSystemConfigurationData(configurationList.value)
        .then((res: any) => {
            systemConfigService.onConfigChanged.next(Date.now);
        })
        .catch((err: any) => {

        })
}

</script>

<template>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                            <h6 class="text-white text-capitalize ps-3"> ตั้งค่าเว็บไซต์ </h6>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
                                            style="width: 10%;">
                                            Configuration Name
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                            Value
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in configurationList">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm"> {{ item.configurationName }} </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div v-if="item.inputType === 'image'">
                                                <v-img class="banner-example" v-if="item.configurationValue"
                                                    :src="(item.configurationValue as string)" />

                                                <material-input :id="item.configurationCode + 'inp'" type="file"
                                                    class="mb-3"
                                                    @inputChanged="$event => handleImage($event, item)"></material-input>
                                            </div>
                                            <div v-if="item.inputType === 'multiple-image'">
                                                <div class="multi-img-container">
                                                    <v-img class="multi-img"
                                                        v-for="im in (item.configurationValue as any[])" :src="im"></v-img>
                                                </div>
                                                <material-input :id="item.configurationCode + 'inp'" type="file"
                                                    :multipleFile=true class="mb-3"
                                                    @inputChanged="$event => onUploadMultipleImage($event, item)"></material-input>
                                            </div>
                                            <div v-if="item.inputType === 'text'">
                                                <material-input :id="item.configurationCode + 'inp'"
                                                    :label="item.configurationName" class="mb-3"
                                                    v-model="item.configurationValue"></material-input>
                                            </div>
                                            <div v-if="item.inputType === 'textarea'">
                                                <material-textarea :id="item.configurationCode + 'inp'"
                                                    :label="item.configurationName" class="mb-3"
                                                    v-model="item.configurationValue"></material-textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <material-button class="my-4 mb-2" variant="gradient" :color=color @clicked="save"> บันทึก
                        </material-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.banner-example {
    width: inherit;
    max-height: 300px;
    margin: 1em;
}

.multi-img-container {
    display: flex;
    justify-content: center;

    .multi-img {
        max-width: 5em;
        margin: 1em;
    }
}

.v-input {
    margin: 1em;
}
</style>