<script setup lang="ts">
import type { RoleDTO } from '@/model/roleDTO.model';
import { ActionType } from '@/shared/enums/actionType.enum';
import roleService from '@/shared/services/roleService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const showAddEditRoleModal = ref(false)
const action = ref('')
const selectedRoleId = ref<string | null>(null);
const store = useStore()
const color = computed(() => store.state.color)

const roleList = ref<RoleDTO[]>([]);

onMounted(() => {
    getRoleList();
})

function getRoleList() {
    roleService.getRoleList().then((res: any) => {
        roleList.value = [...res]
    })
}
function onCancel() {
    showAddEditRoleModal.value = false
    action.value = null
}

function onSaveCompleted() {
    showAddEditRoleModal.value = false
    getRoleList();
}

function addRole() {
    selectedRoleId.value = null;
    showAddEditRoleModal.value = true
    action.value = 'add'
}

function editRole(id: any) {
    selectedRoleId.value = id;
    showAddEditRoleModal.value = true
    action.value = 'edit'
}

</script>

<template>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                            <h6 class="text-white text-capitalize ps-3"> {{ action ? (action == ActionType.Add ? 'เพิ่ม' :
                                'แก้ไข') : 'ตั้งค่า' }}กลุ่มผู้ใช้งาน </h6>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-2" v-if="!showAddEditRoleModal">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                            รหัสกลุ่มผู้ใช้งาน
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                            ชื่อกลุ่มผู้ใช้งาน
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in roleList" :key="item.id">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm"> {{ item.roleCode }} </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ item.roleName }} </td>
                                        <td class="text-end">
                                            <material-button class="my-4 mb-2" variant="outline" :color="'secondary'"
                                                @clicked="editRole(item.id)"> แก้ไข
                                            </material-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-end" v-if="!showAddEditRoleModal">
                        <material-button class="my-4 mb-2" variant="gradient" :color=color @clicked="addRole">
                            เพิ่มกลุ่มผู้ใช้งาน
                        </material-button>
                    </div>
                    <AddEditRoleComponent v-if="showAddEditRoleModal" @saveCompleted="onSaveCompleted" @cancel="onCancel"
                        :action="action" :roleId="selectedRoleId" />
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped></style>