<script setup lang="ts">
import type { MenuDTO } from '@/model/menuDTO.model';
import menuService from '@/shared/services/menuService';
import CustomTable from '@/shared/components/CustomTable.vue';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const showAddEditMenuModal = ref(false)
const action = ref('')
const selectedMenuId = ref<string | null>(null);
const store = useStore()
const color = computed(() => store.state.color)

const menuList = ref<MenuDTO[]>([]);
const tableHeader = ['Menu Code', 'Menu Name', 'Menu Path', 'Menu Path Name', '']

onMounted(() => {
    getMenuList();
})

function getMenuList() {
    menuService.getMenuList().then((res: any) => {
        menuList.value = [...res]
    })
}

function onCancel() {
    showAddEditMenuModal.value = false
    action.value = null
}

function onSaveCompleted() {
    showAddEditMenuModal.value = false
    getMenuList();
}

function addMenu() {
    selectedMenuId.value = null;
    showAddEditMenuModal.value = true
    action.value = 'add'
}

function editMenu(id: any) {
    selectedMenuId.value = id;
    showAddEditMenuModal.value = true
    action.value = 'edit'
}

</script>

<template>
    <CustomTable :action="action" :title="'เมนู'" :show-add-edit="showAddEditMenuModal">
        <template v-slot:table-header>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                Menu Code
            </th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                Menu Name
            </th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                Menu Path
            </th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                Menu Path Name
            </th>
            <th class="text-secondary opacity-7"></th>
        </template>

        <template v-slot:table-body>
            <tr v-for="item in menuList" :key="item.id">
                <td class="text-left">
                    <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"> {{ item.menuCode }} </h6>
                        </div>
                    </div>
                </td>
                <td> {{ item.menuName }} </td>
                <td> {{ item.menuPath }} </td>
                <td> {{ item.menuPathName }} </td>
                <td class="text-end">
                    <material-button class="my-4 mb-2" variant="outline" :color="'secondary'" @clicked="editMenu(item.id)">
                        แก้ไข
                    </material-button>
                </td>
            </tr>
        </template>
        <template v-slot:footer>
            <material-button class="my-4 mb-2" variant="gradient" :color=color @clicked="addMenu">
                เพิ่มกลุ่มผู้ใช้งาน
            </material-button>
        </template>
        <template v-slot:add-edit-component>
            <AddEditMenuComponent v-if="showAddEditMenuModal" @saveCompleted="onSaveCompleted" @cancel="onCancel"
                :action="action" :menuId="selectedMenuId" />
        </template>
    </CustomTable>
</template>

<style lang="scss" scoped></style>