<script setup lang="ts">
import { ActionType } from '@/shared/enums/actionType.enum';
import UserService from '@/shared/services/UserService';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialBadge from "@/shared/components/MaterialBadge.vue";
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

const showAddEditUserModal = ref(false)
const action = ref('')
const selectedUserId = ref<string | null>(null)
const userList = ref<any[]>([]);
const store = useStore()
const color = computed(() => store.state.color)

onMounted(() => {
    getUserList();
})

function getUserList() {
    UserService.getUserList().then((res: any) => {
        userList.value = res;
    })
}

function editUser(userId: string) {
    selectedUserId.value = userId;
    showAddEditUserModal.value = true
    action.value = ActionType.Edit
}

function onSaveCompleted() {
    getUserList();
    action.value = null
    showAddEditUserModal.value = !showAddEditUserModal.value
}

function onCancel() {
    action.value = null
    showAddEditUserModal.value = !showAddEditUserModal.value
}

</script>

<template>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                            <h6 class="text-white text-capitalize ps-3"> {{ action ? (action == ActionType.Add ? 'เพิ่ม' :
                                'แก้ไข') : 'ตั้งค่า' }}ผู้ใช้งาน </h6>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-2" v-if="!showAddEditUserModal">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                            ชื่อ - นามสกุล
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                            email
                                        </th>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                            กลุ่มผู้ใช้งาน
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in userList" :key="user.id">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm"> {{ user.firstName }} {{ user.lastName }} </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div> {{ user.email }} </div>
                                        </td>
                                        <td class="text-left">
                                            <material-badge class="ml-2" variant="fill" :color="color"
                                                v-for="role in user.role">
                                                {{ role.roleName }}
                                            </material-badge>
                                        </td>
                                        <td class="text-end">
                                            <material-button class="my-4 mb-2" variant="outline" :color="'secondary'"
                                                @clicked="editUser(user.id)"> แก้ไข
                                            </material-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <AddEditUserComponent v-if="showAddEditUserModal" @saveCompleted="onSaveCompleted" @cancel="onCancel"
                        :action="action" :userId="selectedUserId" />
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped></style>