<script setup lang="ts">
import { computed, onMounted, reactive, ref } from "vue";
import projectService from "@/shared/services/projectService";
import UserService from "@/shared/services/UserService";
import storage from "@/shared/services/storage";
import CustomTable from "@/shared/components/CustomTable.vue";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { useStore } from "vuex";
import Swal from "sweetalert2";
const store = useStore();
const color = computed(() => store.state.color);

const showAddEditProjectModal = ref(false);
const action = ref("");
const projectList = ref<any[]>([]);
const tableFields = [
  { key: "projectName", label: "ชื่อโครงการ" },
  { key: "subjectCode", label: "รหัสวิชา" },
  { key: "owner", label: "ผู้จัดทำ" },
  { key: "createdDate", label: "วันที่สร้าง" },
  { key: "edit", label: "แก้ไข" },
  { key: "delete", label: "ลบ" },
];
const selectedProjectId = ref<string | null>(null);

onMounted(() => {
  getProjectList();
});

function getProjectList() {
  var currentUserId = UserService.getCurrentUser()?.id ?? storage.get("userId");
  if (currentUserId) {
    projectService.getProjectListByUser(currentUserId).then((res: any) => {
      projectList.value = [...res];
    });
  }
}

function onCancel() {
  showAddEditProjectModal.value = false;
  action.value = null;
}

function onSaveCompleted() {
  showAddEditProjectModal.value = false;
  getProjectList();
}

function addProject() {
  selectedProjectId.value = null;
  showAddEditProjectModal.value = true;
  action.value = "add";
}

function editProject(id: any) {
  selectedProjectId.value = id;
  showAddEditProjectModal.value = true;
  action.value = "edit";
}

function deleteProject(id: any, name: string) {
  selectedProjectId.value = id;
  action.value = "delete";
  Swal.fire({
    title: "Are you sure?",
    text: `คุณต้องการลบ โครงงานชื่อ <${name}> หรือไม่?`,
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes",
  }).then((result) => {
    if (result.isConfirmed) {
      projectService.deleteProject(id).then((result: any) => {
        if (result) {
          Swal.fire("Deleted!", "โครงงานถูกลบแล้ว", "success");
          getProjectList();
        }
      });
    }
  });
}

function formatDate(date: Date) {
  return new Intl.DateTimeFormat("th-TH", { dateStyle: "long" }).format(
    new Date(date)
  );
}
</script>

<template>
  <CustomTable
    :action="action"
    :title="'โครงการ'"
    :show-add-edit="showAddEditProjectModal"
  >
    <template v-slot:table-header>
      <th
        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
      >
        ชื่อโครงการ
      </th>
      <th
        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
      >
        รหัสวิชา
      </th>
      <th
        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
      >
        ผู้จัดทำ
      </th>
      <th
        class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
      >
        วันที่สร้าง
      </th>
      <th class="text-secondary opacity-7"></th>
    </template>

    <template v-slot:table-body>
      <tr v-for="item in projectList" :key="item.id">
        <td class="text-left">
          <div class="d-flex px-2 py-1">
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm">{{ item.projectName }}</h6>
            </div>
          </div>
        </td>
        <td>{{ item.subjectCode }}</td>
        <td>{{ item.owner.firstName }} {{ item.owner.lastName }}</td>
        <td>{{ formatDate(item.createdDate) }}</td>
        <td class="text-end">
          <material-button
            class="my-4 mb-2"
            variant="outline"
            :color="'secondary'"
            @clicked="editProject(item.id)"
          >
            แก้ไข
          </material-button>
        </td>
        <td class="text-end">
          <material-button
            class="my-4 mb-2"
            variant="outline"
            :color="'danger'"
            @clicked="deleteProject(item.id, item.projectName)"
          >
            ลบ
          </material-button>
        </td>
      </tr>
    </template>
    <template v-slot:footer>
      <material-button
        class="my-4 mb-2"
        variant="gradient"
        :color="color"
        @clicked="addProject"
      >
        เพิ่มโครงการ
      </material-button>
    </template>
    <template v-slot:add-edit-component>
      <AddEditProjectComponent
        v-if="showAddEditProjectModal"
        @saveCompleted="onSaveCompleted"
        @cancel="onCancel"
        :action="action"
        :projectId="selectedProjectId"
      />
    </template>
  </CustomTable>
</template>

<style scoped>
#project-table {
  max-height: 500px;
  overflow-y: auto;
}
</style>