<script setup lang="ts">
import { UserDetail } from '@/model/userDetail.model';
import storage from '@/shared/services/storage';
import UserService from '@/shared/services/UserService';
import { onMounted, ref, computed } from 'vue';
import CustomTable from '@/shared/components/CustomTable.vue';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { useStore } from 'vuex';

const store = useStore()
const color = computed(() => store.state.color)
const userDetail = ref<UserDetail>(new UserDetail())

onMounted(() => {
    var currentUserId = UserService.getCurrentUser()?.id ?? storage.get('userId');
    if (currentUserId) {
        getUserDetail(currentUserId);
    }
})

function getUserDetail(userId: string) {
    UserService.getUserDetail(userId)
        .then((res: any) => {
            userDetail.value = res;
        })
        .catch((errr) => {

        })
}
</script>

<template>
    <div class="container-fluid py-4">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                    <h6 class="text-white text-capitalize ps-3"> ข้อมูลผู้ใช้ </h6>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="pt-0 text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">ชื่อ - นามสกุล :</strong> &nbsp;
                        {{ userDetail.firstName }} {{ userDetail.lastName }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">เบอร์โทรศัพท์ :</strong> &nbsp; {{ userDetail.phoneNo }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">เลขประจำตัว :</strong> &nbsp; {{ userDetail.identificationNumber }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">อีเมล :</strong> &nbsp; {{ userDetail.email }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">คณะ :</strong> &nbsp; {{ userDetail.faculty }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">ภาควิชา :</strong> &nbsp; {{ userDetail.department }}
                    </li>
                    <li class="text-md border-0 list-group-item ps-0">
                        <strong class="text-dark">สาขา :</strong> &nbsp; {{ userDetail.major }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style scoped>
#edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
</style>