<script setup lang="ts">
import type { FaqDTO } from '@/model/faqDTO.model';
import faqService from '@/shared/services/faqService';
import { ref, onMounted } from 'vue';

const faqList = ref<FaqDTO[]>([]);

onMounted(() => {
    getFaqList();
})

function getFaqList() {
    faqService.getFaqList().then((res: any) => {
        if (res) {
            faqList.value = [...res];
        }
    }).catch((err) => {

    })
}
</script>

<template>
    <v-expansion-panels>
        <v-expansion-panel :class="'custom-overlay'" v-for="faq in faqList" :title="faq.faqName">
            <v-expansion-panel-text>
                <div v-html="faq.faqLink"></div>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<style lang="scss">
.custom-overlay {
    .v-expansion-panel-title:hover {
        .v-expansion-panel-title__overlay {
            color: lightgray;
            opacity: 0.5;
            z-index: -1;
        }
    }

    .v-expansion-panel-title.v-expansion-panel-title--active {
        .v-expansion-panel-title__overlay {
            color: lightgray;
            opacity: 0.5;
            z-index: -1;
        }
    }
}
</style>