<script setup lang="ts">
import { ref } from 'vue';

const tutorialList = ref<any[]>([
    { name: "ขั้นตอนการสมัครสมาชิก", path: "tutorial-vids/ขั้นตอนการสมัครสมาชิก.mp4" },
    { name: "เพิ่มโครงงานหน้าเว็บ", path: "tutorial-vids/เพิ่มโครงงานหน้าเว็บ.mp4" },
    { name: "สร้าง token สำหรับ device", path: "tutorial-vids/สร้าง token สำหรับ device.mp4" },
    { name: "นำอุปกรณ์เชื่อมกับ token", path: "tutorial-vids/นำอุปกรณ์เชื่อมกับ token.mp4" },
    { name: "นำข้อมูล sensor เข้า thingsboard", path: "tutorial-vids/นำข้อมูล sensor เข้า thingsboard.mp4" },
    { name: "นำข้อมูลมาสร้าง widget", path: "tutorial-vids/นำข้อมูลมาสร้าง widget.mp4" },
    { name: "นำ dashboard มาใส่ใน webportal", path: "tutorial-vids/นำ dashboard มาใส่ใน webportal.mp4" }
]);

</script>

<template>
    <v-expansion-panels>
        <v-expansion-panel :class="'custom-overlay'" v-for="item in tutorialList" :title="item.name">
            <v-expansion-panel-text>
                <video-component :path="item.path"> </video-component>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<style lang="scss">

.custom-overlay {
    .v-expansion-panel-title:hover {
        .v-expansion-panel-title__overlay {
            color: lightgray;
            opacity: 0.5;
            z-index: -1;
        }
    }

    .v-expansion-panel-title.v-expansion-panel-title--active {
        .v-expansion-panel-title__overlay {
            color: lightgray;
            opacity: 0.5;
            z-index: -1;
        }
    }
}
</style>