<template>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
                            <h6 class="text-white text-capitalize ps-3"> {{ action ? (action == ActionType.Add ? 'เพิ่ม' :
                                'แก้ไข') : 'ตั้งค่า' }}{{ props.title }} </h6>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-2" v-if="!props.showAddEdit">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <slot name="table-header"></slot>
                                    </tr>
                                </thead>
                                <tbody>
                                    <slot name="table-body"></slot>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-end" v-if="!props.showAddEdit">
                        <slot name="footer"></slot>
                    </div>

                    <slot name="add-edit-component"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { ActionType } from '../enums/actionType.enum';
import { useStore } from 'vuex';

const props = defineProps<{
    action: string | null,
    title: string,
    showAddEdit: boolean
}>()
const store = useStore()
const color = computed(() => store.state.color)

</script>