<template>
    <div class="input-group"
        :class="`input-group-${variant} ${modelValue ? 'is-filled' : ''} ${getStatus(error, success)}`">
        <label :class="variant === 'static' ? '' : 'form-label'">{{ label }}</label>
        <select class="form-control" :value="props.modelValue" @change="$emit('update:modelValue', $event.target['value'])">
            <option v-for="(item, index) in items" :key="index" :value="itemValue ? item[itemValue] : item.id">
                {{ itemTitle ? item[itemTitle] : item }}
            </option>
        </select>
    </div>
</template>

<script setup lang="ts">
interface prop {
    items: any[],
    itemValue?: string,
    itemTitle?: string,
    variant?: string,
    label: string,
    modelValue: any
    success?: boolean
    error?: boolean
}
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
const props = withDefaults(defineProps<prop>(), {
    items: () => [],
    variant: 'outline',
    label: '',
    success: false,
    error: false
})
const store = useStore()
const color = computed(() => store.state.color)

function getStatus(error, success) {
    let isValidValue;

    if (success) {
        isValidValue = "is-valid";
    } else if (error) {
        isValidValue = "is-invalid";
    } else {
        isValidValue = null;
    }

    return isValidValue;
}

function log(ev) {
    console.log(ev)
}

</script>

<style lang="scss" scoped></style>