<template>
  <div class="form-check p-0">
    <input v-if="!multiple" :id="id" class="form-check-input" type="checkbox" :name="name" :checked="modelValue"
      @input="$emit('update:modelValue', !modelValue)" @change="$emit('valueChanged', modelValue)" />

    <input v-if="multiple" :id="id" class="form-check-input" type="checkbox" :name="name"
      :checked="valueList.includes(checkValue)" @input="selectOption(!valueList.includes(checkValue))" />

    <label :for="id" class="custom-control-label ml-3">
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: "MaterialCheckbox",
  emits: ['update:modelValue', 'valueChanged', 'update:valueList'],
  props: {
    name: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "",
    },
    checked: Boolean,
    modelValue: {
      type: Boolean,
      default: ""
    },
    valueList: {
      type: Array,
      default: []
    },
    multiple: {
      type: Boolean,
      default: false
    },
    checkValue: {
      type: String,
      default: ''
    }
  },
  methods: {
    selectOption(event) {
      var returnValue = [];
      if (event) {
        returnValue = [...this.valueList, this.checkValue];
      } else {
        returnValue = this.valueList.filter(x => x != this.checkValue);
      }
      console.log(returnValue)
      this.$emit('update:valueList', returnValue)
    }
  }
};
</script>

<style lang="scss" scoped>
.custom-control-label {
  cursor: pointer;
  user-select: none;
}
</style>
