<script setup lang="ts">
// import NavbarDefault from '@/layout/NavbarDefault.vue';
import { computed, onMounted, ref } from "vue";
import "leaflet/dist/leaflet.css";
import * as am5 from "@amcharts/amcharts5";
import * as am5xy from "@amcharts/amcharts5/xy";
import moment from "moment";
import ThingsboardService from "@/shared/services/ThingsboardService";
import dashboardService from "@/shared/services/dashboardService";
import am5themes_Animated from "@amcharts/amcharts5/themes/Animated";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { useStore } from "vuex";

const store = useStore();
const color = computed(() => store.state.color);
const avgPM = ref<any>();
const pmStatus = ref<any[]>([]);
const pmData = ref<any[]>([]);
const zoom = ref(16);
const firstDate = ref(
  new Date(Date.now()).setDate(new Date(Date.now()).getDate() - 7)
);
const endDate = ref(
  new Date(Date.now()).setDate(new Date(Date.now()).getDate() + 7)
);
const pmDateFrom = ref(moment(new Date(firstDate.value)).format("YYYY-MM-DD"));
const pmDateTo = ref(moment(new Date(endDate.value)).format("YYYY-MM-DD"));
const chartdiv = ref<HTMLCanvasElement | null>(null);
var chart, chartRoot, chartXAxis, chartYAxis, chartLegend;
const chartData = ref<any[]>([]);
const loading = ref<number>(0);
const tmpPMData = ref<any[]>([]);
const dateRange = ref([pmDateFrom.value, pmDateTo.value]);

onMounted(() => {
  mountChart();
  getPmStatus();
  GetLastestData();
  getDashboardData();
});

function handleDate(inpDate: any[]) {
  if (inpDate) {
    pmDateFrom.value = inpDate[0];
    pmDateTo.value = inpDate[1];
  }
}

function GetLastestData() {
  ThingsboardService.Login({
    username: "tenant@thingsboard.org",
    password: "tenant",
  }).then((res) => {
    ThingsboardService.GetLastestData(res.data.token).then((dbRes) => {
      if (dbRes?.data) {
        pmStatus.value.find((x) => x.id == 7).pmValue = convertPMValue(
          dbRes.data["PM2.5"][0].value
        );
      }
    });
  });
}

function getDashboardData() {
  tmpPMData.value = [];
  var from = new Date(pmDateFrom.value).setHours(0, 0, 0, 0);
  var to = new Date(pmDateTo.value).setHours(23, 59, 59, 0);
  var dateDiff = Math.ceil((to - from) / (1000 * 60 * 60 * 24));
  ThingsboardService.Login({
    username: "tenant@thingsboard.org",
    password: "tenant",
  }).then((res) => {
    var loopDateFrom = from;
    var loopDateTo = new Date(loopDateFrom).setHours(23, 59, 59, 0);
    var i = 0;
    chart.zoomOut();
    clearChartData();
    pmData.value = [];
    chartData.value = [];
    // const series = addSeries(
    //   pmData.value,
    //   "value",
    //   "BKK",
    //   am5.color("#1A0DAB")
    // );
    do {
      loopDateFrom = new Date(from).setDate(new Date(from).getDate() + i);
      loopDateTo = new Date(loopDateFrom).setHours(23, 59, 59, 0);
      loading.value++;
      ThingsboardService.GetPMDashboardData(
        res.data.token,
        loopDateFrom,
        loopDateTo
      )
        .then((dashboardRes) => {
          if (dashboardRes.data["PM2.5"]) {
            dashboardRes.data["PM2.5"] = dashboardRes.data["PM2.5"].filter(
              (x) =>
                new Date(x.ts).getSeconds() == 0 &&
                new Date(x.ts).getMinutes() == 0
            );
            dashboardRes.data["PM2.5"].map((x) => {
              x.value = convertPMValue(parseFloat(x.value));
            });
            tmpPMData.value.push(dashboardRes.data["PM2.5"]);
          }
        })
        .finally(() => {
          loading.value--;
          if (loading.value == 0) {
            // tmpPMData.value.forEach((x) => pmData.value.push(...x));
            // if (pmData.value.length > 0) {
            //   pmData.value = pmData.value.sort((a, b) =>
            //     a.ts > b.ts ? 1 : -1
            //   );
            // }
            // series.data.setAll(pmData.value);
            // avgPM.value = getAvgPM(pmData.value);
            getPredictData(from, to);
          }
        });
      i++;
    } while (loopDateTo < to && loopDateTo < Date.now());
  });
  // chart.zoomOut();
  // clearChartData();
  // pmData.value = [];
  // chartData.value = [];
  // getPredictData(from, to);
}

function getPredictData(from: any, to: any) {
  loading.value++;
  // FORECAST PM2.5
  const series = addSeries([], "value", "BKK-Predict", am5.color("#0C9C65"));
  dashboardService
    .GetPMDashboardPredictData(from, to)
    .then((predictData: any) => {
      if (predictData?.data) {
        var data = predictData.data["pm2.5"].sort((a, b) =>
          a.ts > b.ts ? 1 : -1
        );
        data.map((x) => {
          x.ts += new Date(x.ts).getTimezoneOffset() * 60000;
          const predict: boolean = x.ts > Date.now();
          x.value = convertPMValue(x.value);
          if (predict) {
            x.strokeSettings = {
              strokeDasharray: [3, 3],
            };
            x.bulletSettings = {
              radius: 0,
            };
          }
        });
        if (data.length > 0) {
          series.data.setAll(data);
        }
      }
    })
    .finally(() => {
      loading.value--;
    });
}

function convertPMValue(inp) {
  if (inp >= 10000) {
    var max = 150000;
    var convert_value_response = Math.ceil(inp);
    var value = Math.floor((convert_value_response / max) * 100);
    return value;
  } else {
    return inp;
  }
}

function getPmStatus() {
  pmStatus.value = [
    {
      id: 1,
      ordinal: 1,
      location: "หอพักนักศึกษา",
      pmValue: 46,
    },
    {
      id: 2,
      ordinal: 2,
      location: "คณะเภสัชศาสตร์",
      pmValue: 41,
    },
    {
      id: 3,
      ordinal: 3,
      location: "คณะวิศวกรรมศาสตร์",
      pmValue: 13,
    },
    {
      id: 4,
      ordinal: 4,
      location: "วิทยาลัยแพทยศาสตร์และการสาธารณสุข",
      pmValue: 59,
    },
    {
      id: 5,
      ordinal: 5,
      location: "บริเวณร้านยาหน้ามหาวิทยาลัย",
      pmValue: 74,
    },
    {
      id: 6,
      ordinal: 6,
      location: "ลานสุขภาพ (หนองอีเจม)",
      pmValue: 45,
    },
    {
      id: 7,
      ordinal: 7,
      location: "Trinergy",
      pmValue: pmData.value,
    },
  ];
}

function mountChart() {
  if (chartRoot) {
    chartRoot.dispose();
    chartRoot = null;
  }
  if (!chartRoot) {
    chartRoot = am5.Root.new(chartdiv.value);
    chartRoot.setThemes([am5themes_Animated.new(chartRoot)]);
    chartRoot.numberFormatter.set("numberFormat", "#,###.00");

    chart = chartRoot.container.children.push(
      am5xy.XYChart.new(chartRoot, {
        layout: chartRoot.verticalLayout,
        panX: true,
        panY: false,
      })
    );
    // Add cursor
    chart.set("cursor", am5xy.XYCursor.new(chartRoot, {}));
    chart.set(
      "scrollbarX",
      am5.Scrollbar.new(chartRoot, { orientation: "horizontal" })
    );

    // Create Y-axis
    chartYAxis = chart.yAxes.push(
      am5xy.ValueAxis.new(chartRoot, {
        // min: 0,
        // max: 150,
        renderer: am5xy.AxisRendererY.new(chartRoot, {}),
      })
    );

    // Create X-Axis
    chartXAxis = chart.xAxes.push(
      am5xy.DateAxis.new(chartRoot, {
        groupData: true,
        zoomStart: 1,
        baseInterval: { timeUnit: "hour", count: 1 },
        renderer: am5xy.AxisRendererX.new(chartRoot, {
          pan: "zoom",
        }),
      })
    );

    // Add legend
    chartLegend = chart.children.push(
      am5.Legend.new(chartRoot, {
        layout: chartRoot.horizontalLayout,
        nameField: "name",
        fillField: "color",
        strokeField: "color",
        centerX: am5.percent(50),
        x: am5.percent(50),
      })
    );
    chart.plotContainer.events.on("wheel", function (ev) {
      if (ev.originalEvent.ctrlKey) {
        ev.originalEvent.preventDefault();
        chart.set("wheelX", "panX");
        chart.set("wheelY", "zoomX");
      } else {
        chart.set("wheelX", "none");
        chart.set("wheelY", "none");
      }
    });
  }
}

function clearChartData() {
  if (chart.series?.length >= 1) {
    for (var i = chart.series.length - 1; i >= 0; i--) {
      chart.series.removeIndex(i).dispose();
    }
  }
}

function addSeries(data, field, name, color) {
  const tooltip = am5.Tooltip.new(chartRoot, {
    getFillFromSprite: false,
    getStrokeFromSprite: false,
    autoTextColor: false,
    getLabelFillFromSprite: false,
    labelText: `[bold]{name}[/]
{valueX.formatDate('dd MMM YYYY HH:mm')}
PM:{valueY}`,
  });
  tooltip.get("background").setAll({
    fill: am5.color(0xffffff),
    stroke: color,
  });
  tooltip.label.setAll({
    fill: color,
  });

  const series = chart.series.push(
    am5xy.SmoothedXLineSeries.new(chartRoot, {
      name: name,
      xAxis: chartXAxis,
      yAxis: chartYAxis,
      valueYField: field,
      valueXField: "ts",
      tooltip: tooltip,
      connect: true,
      minBulletDistance: 15,
      autoGapCount: 5,
    })
  );
  series.strokes.template.setAll({
    strokeWidth: 2,
    templateField: "strokeSettings",
  });
  // series.fills.template.setAll({
  //     fillOpacity: 0.5,
  //     visible: true,
  //     templateField: "strokeSettings"
  // });
  // series.set("fill", color);
  series.set("stroke", color);
  let bulletTemplate: am5.Template<am5.Circle> = am5.Template.new({
    fill: color,
    radius: 3.5,
  });
  series.bullets.push(function (root) {
    return am5.Bullet.new(root, {
      sprite: am5.Circle.new(
        root,
        {
          templateField: "bulletSettings",
        },
        bulletTemplate
      ),
    });
  });
  series.data.setAll(data);
  chartXAxis.data.setAll(data);
  chartLegend.data.setAll(chart.series.values);
  return series;
}

function getAvgPM(pmList: any[]) {
  if (pmList) {
    var _valList = pmList.map((x) => parseFloat(x.value));
    return (_valList.reduce((a, b) => a + b, 0) / _valList.length).toFixed(2);
  }
}

function getPmStatusColor(val: number) {
  if (val >= 0 && val <= 25) {
    return { color: "blue", desc: "คุณภาพอากาศดีมาก" };
  } else if (val >= 25 && val <= 37) {
    return { color: "green", desc: "คุณภาพอากาศดี" };
  } else if (val >= 38 && val <= 50) {
    return { color: "yellow", desc: "ปานกลาง" };
  } else if (val >= 51 && val <= 90) {
    return { color: "orange", desc: "เริ่มมีผลกระทบต่อสุขภาพ" };
  } else if (val >= 91) {
    return { color: "red", desc: "มีผลกระทบต่อสุขภาพ" };
  }
}
</script>

<template>
  <!-- <NavbarDefault /> -->
  <div class="container-fluid py-4">
    <div
      class="shadow-success border-radius-lg pt-4 pb-3 mb-3"
      :class="`active bg-gradient-${color}`"
    >
      <h3 class="text-white text-capitalize ps-3">ข้อมูลดัชนีคุณภาพอากาศ</h3>
    </div>
    <div class="row mb-4">
      <div class="col col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
        <div class="card mb-3">
          <div class="card-header p-3 pt-2">
            <div class="pt-1 text-start">
              <p class="text-lg text-bold mb-0">
                สถานะ PM 2.5 (μg/m<sup>3</sup>) เฉลี่ย
              </p>
              <h4 class="mb-0"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3 text-start">
            <table class="table align-items-center mb-0">
              <tbody>
                <tr>
                  <td width="10%" class="text-right">
                    {{
                      parseFloat(
                        pmStatus.find((x) => x.id == 7)?.pmValue
                      ).toFixed(2)
                    }}
                  </td>
                  <td width="20%" class="text-left">
                    {{
                      getPmStatusColor(pmStatus.find((x) => x.id == 7)?.pmValue)
                        ?.desc
                    }}
                  </td>
                  <td width="60%">
                    <v-progress-linear
                      :model-value="avgPM"
                      :height="20"
                      :color="
                        getPmStatusColor(
                          pmStatus.find((x) => x.id == 7)?.pmValue
                        )?.color
                      "
                    ></v-progress-linear>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-3 pt-2">
            <div class="pt-1 text-start">
              <p class="text-lg text-bold mb-0">
                แผนที่จุดติดตั้งเครื่องวัดคุณภาพอากาศ
              </p>
              <h4 class="mb-0"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3 text-start">
            <div style="height: 500px">
              <l-map
                :useGlobalLeaflet="false"
                ref="map"
                v-model:zoom="zoom"
                :center="[13.7724746324808, 100.57409583097382]"
              >
                <l-tile-layer
                  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                  layer-type="base"
                  name="OpenStreetMap"
                ></l-tile-layer>
                <l-marker :lat-lng="[13.7724746324808, 100.57409583097382]">
                  <l-tooltip>
                    {{ pmStatus.find((x) => x.id == 7)?.location }} <br />
                    ค่า PM2.5 : {{ pmStatus.find((x) => x.id == 7)?.pmValue }}
                  </l-tooltip>
                </l-marker>
              </l-map>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-12 col-sm-12 d-flex">
        <div class="card mb-3">
          <div class="card-header p-3 pt-2">
            <div class="pt-1 text-start">
              <p class="text-lg text-bold mb-0">
                สถานะ PM 2.5 (μg/m<sup>3</sup>)
              </p>
              <h4 class="mb-0"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3 text-start table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-sm text-start">ลำดับ</th>
                  <th class="text-sm text-left">สถานที่</th>
                  <th class="text-sm text-left">
                    ค่า PM 2.5 (ug/m<sup>3</sup>)
                  </th>
                  <th class="text-sm text-center">สถานะ</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="pm in pmStatus" :key="pm.id">
                  <td class="text-sm text-left">{{ pm.ordinal }}</td>
                  <td class="text-sm text-left">{{ pm.location }}</td>
                  <td class="text-sm text-left">
                    {{ parseFloat(pm.pmValue).toFixed(2) }}
                  </td>
                  <td>
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(pm.pmValue)?.color"
                    ></v-progress-linear>
                  </td>
                </tr>
              </tbody>
            </table>

            <p class="text-xs text-bold mt-3 mb-3">
              ความหมายสถานะของค่า PM 2.5 (ug/m<sup>3</sup>)
            </p>
            <div class="row">
              <div class="col col-12 col-sm-6">
                <div class="row mb-2">
                  <div class="col col-2 col-sm-3 text-xs">0 - 25</div>
                  <div class="col col-4 col-sm-6 text-xs">คุณภาพอากาศดีมาก</div>
                  <div class="col col-2 col-sm-3 text-xs">
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(0)?.color"
                    ></v-progress-linear>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-sm-6">
                <div class="row mb-2">
                  <div class="col col-2 col-sm-3 text-xs">26 - 37</div>
                  <div class="col col-4 col-sm-6 text-xs">คุณภาพอากาศดี</div>
                  <div class="col col-2 col-sm-3 text-xs">
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(26)?.color"
                    ></v-progress-linear>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-sm-6">
                <div class="row mb-2">
                  <div class="col col-2 col-sm-3 text-xs">38 - 50</div>
                  <div class="col col-4 col-sm-6 text-xs">ปานกลาง</div>
                  <div class="col col-2 col-sm-3 text-xs">
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(38)?.color"
                    ></v-progress-linear>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-sm-6">
                <div class="row mb-2">
                  <div class="col col-2 col-sm-3 text-xs">51 - 90</div>
                  <div class="col col-4 col-sm-6 text-xs">
                    เริ่มมีผลกระทบต่อสุขภาพ
                  </div>
                  <div class="col col-2 col-sm-3 text-xs">
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(51)?.color"
                    ></v-progress-linear>
                  </div>
                </div>
              </div>
              <div class="col col-12 col-sm-6">
                <div class="row">
                  <div class="col col-2 col-sm-3 text-xs">91 ขึ้นไป</div>
                  <div class="col col-4 col-sm-6 text-xs">
                    มีผลกระทบต่อสุขภาพ
                  </div>
                  <div class="col col-2 col-sm-3 text-xs">
                    <v-progress-linear
                      model-value="100"
                      :height="10"
                      :color="getPmStatusColor(91)?.color"
                    ></v-progress-linear>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <p class="text-xs">
              อ้างอิง :
              <a
                target="_blank"
                href="http://air4thai.pcd.go.th/webV2/aqi_info.php"
              >
                ข้อมูลดัชนีคุณภาพอากาศ โดย สำนักจัดการคุณภาพอากาศและเสียง
                กรมควบคุมมลพิษ
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header p-3 pt-2">
            <div class="pt-1 text-start">
              <p class="text-lg text-bold mb-0">
                สถานะ PM 2.5 (μg/m<sup>3</sup>)
              </p>
              <h4 class="mb-0"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3 text-start">
            <div class="d-flex flex-row justify-content-start">
              <div class="text-nowrap">ข้อมูลจากวันที่</div>
              <VueDatePicker
                class="px-3"
                v-model="dateRange"
                range
                :partial-range="false"
                :enable-time-picker="false"
                max-range="15"
                :disabled="loading > 0"
                @update:model-value="handleDate"
              ></VueDatePicker>
              <div>
                <material-button
                  variant="gradient"
                  :color="color"
                  @clicked="getDashboardData"
                  :disabled="loading > 0 || !dateRange || dateRange.length == 0"
                >
                  Search
                </material-button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <Loader v-if="loading" class="chart-loader"></Loader>
                <div class="chart" ref="chartdiv"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<style lang="scss">
#map {
  height: 180px;
}

.chart {
  width: 100%;
  height: 500px;
  min-height: 500px;
}

.chart-loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
</style>