<template>
  <div>
    <v-row>
      <v-col cols="12">
        <div class="float-end me-3">
          <v-btn @click="showmenu()">{{ menu_name }}</v-btn>
        </div>
      </v-col>
    </v-row>

    <div class="mt-5">
      <div v-if="menuAdd_device == true">
        <AddDeviceUser :userDetail="DetailUser" :DeviceUser="Devices" />
      </div>
      <div v-else>
        <DeviceUser :device="Devices" />
      </div>
    </div>
  </div>
</template>

<script setup>
import DeviceUser from "@/components/DeviceUser.vue";
import AddDeviceUser from "@/components/AddDeviceUser.vue";
import Swal from "sweetalert2";
import { onMounted, ref } from "vue";
import ThingsboardService from "@/shared/services/ThingsboardService";
import storage from "@/shared/services/storage";

const DetailUser = ref([]);
const Devices = ref([]);
const menuAdd_device = ref(false);
const menu_name = ref("เพิ่มอุปกรณ์");

const showmenu = () => {
  menuAdd_device.value = !menuAdd_device.value;
  if (menuAdd_device.value) {
    menu_name.value = "รายการอุปกรณ์";
  } else {
    menu_name.value = "เพิ่มอุปกรณ์";
  }
};
const LoginAdmin = async () => {
  await ThingsboardService.Login({
    username: import.meta.env.VITE_ADMIN_USER,
    password: import.meta.env.VITE_ADMIN_PASSWORD,
  }).then(({ data }) => {
    if (data?.token != null) {
      storage.set("token", data?.token);
      console.log(data?.token);
    }
  });
};
const getDeviceUser = async (userId) => {
  await ThingsboardService.GetDevices(storage.get("token"), userId)
    .then((res) => {
      // console.log(res.data);
      Devices.value = res?.data?.data;
    })
    .catch((error) => {
      if (error.response.data.status === 401) {
        LoginAdmin().then(() => {
          getDeviceUser(DetailUser.value[0].id.id);
        });
        // Swal.fire({ icon: "error", title: error.response.data.status, text: error.response.data.message }).then(() => {
        //     LoginAdmin();
        //     getDeviceUser(DetailUser.value[0].id.id)
        // })
      } else {
        Swal.fire({
          icon: "error",
          title: error.response.data.status,
          text: error.response.data.message,
        });
      }
      // console.log(error.response.data.message);
    });
};

onMounted(async () => {
  const dataUser = JSON.parse(storage.get("UserTB"), true);
  DetailUser.value = dataUser;
  await getDeviceUser(dataUser[0].id.id);
});
</script>

<style scoped></style>