<script  setup lang="ts">
import NavbarDefault from '@/layout/NavbarDefault.vue';
import Contact from '../components/ContactComponent.vue'

</script>

<template>
    <!-- <NavbarDefault />
    <br> -->
    <Contact />
</template>