<script setup lang="ts">
// import NavbarDefault from '@/layout/NavbarDefault.vue';
import ContentComponent from "@/components/ContentComponent.vue";
import { useRoute } from "vue-router";

const route = useRoute();
const id: any = route.params.id;
</script>

<template>
  <!-- <NavbarDefault /> -->
  <ContentComponent :id="id" />
</template>

<style></style>