<script setup lang="ts">
import NavbarDefault from '@/layout/NavbarDefault.vue';
import HomePageBanner from '../components/HomePageBanner.vue';
import Blog from '@/components/Blog.vue';
import { onMounted, ref } from 'vue';
import type { ProjectDetail } from '@/model/projectDetail.model';
import projectService from '@/shared/services/projectService';

const projectList = ref<ProjectDetail[]>([]);
onMounted(() => {
  projectService.getRecentProjects().then((res: any) => {
    projectList.value = res;
  })
})
</script>

<template>
  <HomePageBanner />
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <Blog :data="projectList" />
  </div>
</template>

<style scoped></style>