<script setup lang="ts">
import NavbarDefault from '@/layout/NavbarDefault.vue';
import projectService from "@/shared/services/projectService";
import { onMounted, reactive, ref, computed } from "vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import Blog from "../components/Blog.vue";
import { useStore } from 'vuex';

const store = useStore()
const color = computed(() => store.state.color)
const form = reactive({
  search: ''
})
const projectList = ref<any[]>([]);

onMounted(() => {
  getProjectList();
})


function getProjectList() {
  projectService.getProjectList(form).then((res: any) => {
    projectList.value = [...res]
  })
}
</script>

<template>
  <!-- <NavbarDefault />
  <br> -->
  <div class="container-fluid">
    <div class="d-flex">
      <material-input id="menuName" label="ค้นหา (ชื่อโครงการ / รหัสวิชา)" size="lg" class="mb-3"
        v-model="form.search"></material-input>
      <div class="ml-3">
        <material-button variant="gradient" :color=color @clicked="getProjectList">
          ค้นหา
        </material-button>
      </div>
    </div>
    <Blog :data="projectList" />
  </div>
</template>

<style></style>