<template>
  <div>
    <DeviceSensor :id="$route.params.id" />
  </div>
</template>

<script setup>
import DeviceSensor from '../components/DeviceSensor.vue';
import route from '@/router';


// const id = route.params.id

</script>

<style>

</style>