<template>
  <div>
    <!-- <ul>
            <li v-for="(item, i) in prop?.userDetail" :key="i">
                {{ item }}
            </li>
            <li v-for="(item, i) in DeviceUser" :key="i">
                {{ item }}</li>
        </ul> -->
    <div>
      <v-card>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="6"
                ><v-text-field
                  v-model="data.device.name"
                  :counter="20"
                  label="ชื่อ อุปกรณ์"
                  required
                  hide-details
                ></v-text-field
              ></v-col>
              <v-col cols="6"
                ><v-text-field
                  v-model="data.device.label"
                  :counter="20"
                  hint="For Create"
                  label="label อุปกรณ์"
                  required
                  hide-details
                ></v-text-field
              ></v-col>
              <!-- <v-col cols="6"><v-text-field v-model="data.device.customerId.id" :counter="20"
                                    label="customerId" required hide-details></v-text-field></v-col> -->
              <v-col cols="12"
                ><v-text-field
                  v-model="data.credentials.credentialsId"
                  :counter="20"
                  label="กำหนด Token ให้อุปกรณ์"
                  required
                  hide-details
                ></v-text-field
              ></v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn block rounded="lg" elevation="4" @click="AddDevice(data)"
            >สร้าง อุปกรณ์</v-btn
          >
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script setup>
import { ref, defineProps } from "vue";
import ThingsboardService from "@/shared/services/ThingsboardService";
import storage from "@/shared/services/storage";
import Swal from "sweetalert2";

const prop = defineProps({
  userDetail: [],
  DeviceUser: [],
});
const data = ref({
  device: {
    name: "test2",
    label: "",
    deviceProfileId: {
      entityType: "DEVICE_PROFILE",
      id: "78ea52d0-8293-11ee-a457-19e52dcf6b5d",
    },
    additionalInfo: {
      gateway: false,
      overwriteActivityTime: false,
      description: "",
    },
    customerId: {
      entityType: "CUSTOMER",
      id: prop?.userDetail[0].id.id,
      // "id": "43676e70-cfbb-11ee-8de8-732abc7bae5d"
    },
  },
  credentials: {
    credentialsType: "ACCESS_TOKEN",
    credentialsId: "",
    credentialsValue: null,
  },
});

const AddDevice = async (value) => {
  await ThingsboardService.AddDevices(storage.get("token"), value)
    .then((res) => {
      if (res?.data?.deviceProfileId?.id != null) {
        Swal.fire({
          position: "center",
          icon: "success",
          title: "อุปกรณ์ ถูกสร้างเรียบร้อย",
          showConfirmButton: false,
          timer: 1500,
        }).then(() => {
          window.location.reload();
        });
      }
      // console.log(res?.data?.deviceProfileId?.id);
    })
    .catch((error) => {
      if (error.response.data.status === 400) {
        Swal.fire({
          icon: "error",
          title: error.response.data.status,
          text: "Token are already assigned to another device!",
        });
      } else {
        Swal.fire({
          icon: "error",
          title: error.response.data.status,
          text: error.response.data.message,
        });
      }
    });
};
</script>

<style scoped></style>