<script setup lang="ts">
import MaterialButton from "@/shared/components/MaterialButton.vue";
import { useRouter } from "vue-router";
const router = useRouter();
const props = defineProps<{
  data: any[]
}>()

function moveToblog(params: any) {
  router.push({ name: 'contents', params: { id: params } })
}
function openDashboard(link) {
  window.open(link, '_blank')
}
</script>

<template>
  <div class="row">
    <!-- col-xxl-3 col-xl-3 col-lg-4 col-md-6 -->
    <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 col-md-6 d-flex" v-for="item in props.data" :key="item">
      <div class="card mb-3 w-100">
        <div class="card-header p-3 pt-2">
          <div class="pt-1 text-start">
            <p class="text-lg text-bold mb-0"> {{ item['projectName'] }} </p>
            <h4 class="mb-0"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-body p-3 text-start">
          <div class="img-container">
            <img :src="item['projectBanner']">
          </div>
          <div v-html="$filters.maxLengthText(item['projectDescription'], 100)"></div>
        </div>
        <div class="card-footer text-center">

          <material-button class="my-1 mx-1 btn-sm" variant="outline" :color="'secondary'"
            @clicked="moveToblog(item['id'])"> บทความ
          </material-button>
          <material-button class="my-1 mx-1 btn-sm" variant="outline" :color="'danger'"
            @clicked="openDashboard(item['dashboard'])"> Dashboard
          </material-button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.img-container {
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
</style>