
<script setup lang="ts">
import type { ProjectDetail } from '@/model/projectDetail.model';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import projectService from '@/shared/services/projectService';
import { computed, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';

const store = useStore()
const color = computed(() => store.state.color)

const route = useRoute();
const projectId: any = route.params.id;
const project = ref<ProjectDetail>();

onMounted(() => {
  projectService.getProjectDetail(projectId).then((res: any) => {
    project.value = res
  })
})

function formatDate(date: Date) {
  return new Intl.DateTimeFormat('default', { dateStyle: 'long' }).format(new Date(date));
}

function goDashboard(url) {
  window.open(url, '_blank')
}
</script>

<template>
  <div class="container-fluid py-4">
    <div class="card">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="shadow-success border-radius-lg pt-4 pb-3" :class="`active bg-gradient-${color}`">
          <h6 class="text-white text-capitalize ps-3"> {{ project?.projectName }} </h6>
        </div>
      </div>
      <div class="card-body px-5 pb-2">
        <div clss="row">
          <div class="col text-left">
            <span class="text-sm ms-3"> {{ project?.owner?.firstName }} {{ project?.owner?.lastName }} </span>
            <span class="text-sm ms-5 timestamp"> {{ project?.createdDate ? formatDate(project?.createdDate) : '' }}
            </span>
          </div>
        </div>
        <v-img :src="project?.projectBanner" alt="" class="project-banner" />
        <div class="proj-desc" v-html="project?.projectDescription"></div>
      </div>
      <div class="card-footer text-center">
        <material-button class="my-4 mb-2 mr-3" variant="gradient" :color=color
          @clicked="goDashboard(project?.dashboard)">
          Dashboard
        </material-button>
      </div>
    </div>
  </div>
</template>

<style>
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}
</style>