<script setup lang="ts">
import { ConfigurationCode } from '@/shared/enums/configurationCode.enum';
import systemConfigService from '@/shared/services/systemConfigService';
import { BehaviorSubject, distinctUntilChanged, Observable, takeUntil } from 'rxjs';
import { computed, onMounted, onUnmounted, ref } from 'vue';
import { useStore } from 'vuex';

const ContactDetail = ref<{
  address: string,
  email: string,
  phone: string,
  lineId: string,
  lineLink: string
}>();
var unsubscribe: boolean = false;
const store = useStore()
const color = computed(() => store.state.color)

onMounted(() => {

  systemConfigService.onConfigChanged.pipe(distinctUntilChanged()).subscribe(x => {
    ContactDetail.value = {
      address: systemConfigService.getConfigValue(ConfigurationCode.ContactAddress),
      email: systemConfigService.getConfigValue(ConfigurationCode.ContactEmail),
      phone: systemConfigService.getConfigValue(ConfigurationCode.ContactPhone),
      lineLink: systemConfigService.getConfigValue(ConfigurationCode.ContactLineLink),
      lineId: systemConfigService.getConfigValue(ConfigurationCode.ContactLineId)
    }

  })
})

onUnmounted(() => {

})

</script>

<template>
  <div class="container-fluid py-4">
    <div class="row mb-4">
      <div class="col-lg-12 position-relative z-index-2">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape shadow text-center border-radius-xl mt-n4 position-absolute "
                  :class="`bg-gradient-${color}`">
                  <i class="mdi mdi-office-building opacity-10" style="top: 0;
    margin-right: unset;
}" aria-hidden="true"> </i>
                </div>
                <div class="pt-1 text-end">
                  <p class="text-sm mb-0 text-capitalize"> ที่อยู่ </p>
                  <h4 class="mb-0"></h4>
                </div>
              </div>
              <hr class="dark horizontal my-0" />
              <div class="card-footer p-3 text-start">
                <!--  eslint-disable-next-line vue/no-v-html -->
                <!-- <p class="mb-0" v-html="ContactDetail?.address"></p> -->
                <pre>{{ ContactDetail?.address }}</pre>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape shadow text-center border-radius-xl mt-n4 position-absolute "
                  :class="`bg-gradient-${color}`">
                  <i class="mdi mdi-email opacity-10" style="top: 0;
    margin-right: unset;
}" aria-hidden="true"> </i>
                </div>
                <div class="pt-1 text-end">
                  <p class="text-sm mb-0 text-capitalize"> Email </p>
                  <h4 class="mb-0"></h4>
                </div>
              </div>
              <hr class="dark horizontal my-0" />
              <div class="card-footer p-3 text-start">
                <p class="mb-0" v-html="ContactDetail?.email"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape shadow text-center border-radius-xl mt-n4 position-absolute "
                  :class="`bg-gradient-${color}`">
                  <i class="mdi mdi-phone opacity-10" style="top: 0;
    margin-right: unset;
}" aria-hidden="true"> </i>
                </div>
                <div class="pt-1 text-end">
                  <p class="text-sm mb-0 text-capitalize"> Phone </p>
                  <h4 class="mb-0"></h4>
                </div>
              </div>
              <hr class="dark horizontal my-0" />
              <div class="card-footer p-3 text-start">
                <!--  eslint-disable-next-line vue/no-v-html -->
                <!-- <p class="mb-0" v-html="ContactDetail?.address"></p> -->
                <pre>{{ ContactDetail?.phone }}</pre>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-2">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape shadow text-center border-radius-xl mt-n4 position-absolute "
                  :class="`bg-gradient-${color}`">
                  <i class="mdi mdi-account-plus opacity-10" style="top: 0;
    margin-right: unset;
}" aria-hidden="true"> </i>
                </div>
                <div class="pt-1 text-end">
                  <p class="text-sm mb-0 text-capitalize"> Line Official </p>
                  <h4 class="mb-0"></h4>
                </div>
              </div>
              <hr class="dark horizontal my-0" />
              <div class="card-footer p-3 text-start">
                <a :href="ContactDetail?.lineLink" class="text-center" target="_blank">คลิกเพื่อเพิ่มเพื่อน</a>
                <p> {{ ContactDetail?.lineId }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <v-row>
    <v-col cols="12" xl="6" lg="6">
      <v-card>
        <template v-slot:title>
          <v-icon icon="mdi-office-building" class="mdi" aria-hidden="true"></v-icon> ที่อยู่
        </template>

        <template v-slot:text>
          <pre>{{ ContactDetail?.address }}</pre>
        </template>
      </v-card>
    </v-col>
    <v-col cols="12" xl="6" lg="6">
      <v-card>
        <template v-slot:title>
          <v-icon icon="mdi-email" class="mdi" aria-hidden="true"></v-icon> Email
        </template>
        <template v-slot:text>
          {{ ContactDetail?.email }}
        </template>
      </v-card>
    </v-col>
    <v-col cols="12" xl="6" lg="6">
      <v-card>
        <template v-slot:title>
          <v-icon icon="mdi-phone" class="mdi" aria-hidden="true"></v-icon> Phone
        </template>
        <template v-slot:text>
          {{ ContactDetail?.phone }}
        </template>
      </v-card>
    </v-col>
    <v-col cols="12" xl="6" lg="6">
      <v-card>
        <template v-slot:title>
          <v-icon icon="mdi-account-plus" class="mdi" aria-hidden="true"></v-icon> Line Official
        </template>
        <template v-slot:text>
          <a :href="ContactDetail?.lineLink" class="text-center">คลิกเพื่อเพิ่มเพื่อน</a>
          <p> {{ ContactDetail?.lineId }} </p>
        </template>
      </v-card>
    </v-col>
  </v-row> -->
</template>



<style scoped>
.mdi {
  font-size: 2.5rem;
  margin-right: 10px;
}

.card{
  height: 100%;
}
</style>