<template>
  <div>
    <v-card :title="props.id" flat>
      <!-- <template v-slot:text>
        <v-text-field
          v-model="search"
          label="Search"
          prepend-inner-icon="mdi-magnify"
          variant="outlined"
          hide-details
          single-line
        ></v-text-field>
      </template> -->

      <v-table>
        <thead>
      <tr>
        <th class="text-left">
          Key
        </th>
        <th class="text-left">
          Value
        </th>
      </tr>
    </thead>
    <tbody>
        <tr v-for="(item, i) in dataAll" :key="i">
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
        </tr>
    </tbody>
      </v-table>
    </v-card>
  </div>
</template>

<script setup>
import { defineProps, onMounted, ref } from "vue";
import ThingsboardService from "@/shared/services/ThingsboardService";
import storage from "@/shared/services/storage";

const dataAll = ref([]);
// const search = ref("");
// const headers = ref([
//   {
//     align: "start",
//     key: "name",
//     sortable: true,
//     title: "Key",
//   },
//   { key: "value", title: "Value" },
// ]);
const props = defineProps({ id: "" });
const getData = (token, idDevice) => {
  ThingsboardService.GetLastestDataAll(token, idDevice).then((res) => {
    dataAll.value = transformData(res?.data);
  });
};

const transformData = (originalData) => {
  return Object.entries(originalData).map(([key, value]) => ({
    name: key,
    value: parseInt(value[0].value)
  }));
};

onMounted(() => {
  getData(storage.get("token"), props.id);
});
</script>

<style>
</style>