<template>
  <div>
    <div>
      <v-row>
        <v-col cols="4" v-for="(item, i) in prop.device" :key="i">
          <v-card>
            <v-card-text>
              <div>
                <v-row>
                  <v-col cols="4"
                    ><v-img
                      cover
                      :height="120"
                      src="https://upload.wikimedia.org/wikipedia/commons/7/7e/NodeMCU_DEVKIT_1.0.jpg"
                    ></v-img
                  ></v-col>
                  <v-col cols="8">
                    <ul>
                      <li>
                        <p>name : {{ item.name }}</p>
                      </li>
                      <li>
                        <p>label : {{ item.label }}</p>
                      </li>
                      <li>
                        <p>type : {{ item.type }}</p>
                      </li>
                      <li>
                        <label :for="`token${i}`">token : </label>
                        <input
                          :id="`token${i}`"
                          type="password"
                          disabled
                          style="width: 100px; margin-left: 2px"
                        />
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </div>
            </v-card-text>
            <v-card-actions>
              <div>
                <v-row>
                  <v-col cols="8">
                    <v-btn
                      class="btn"
                      :icon="
                        inputType == 'password'
                          ? 'mdi-eye-check-outline'
                          : 'mdi-eye-off-outline'
                      "
                      @click="toggleInputType(item.id.id, `token${i}`)"
                    ></v-btn>
                    <v-btn
                      class="btn ms-2"
                      icon="mdi-content-copy"
                      @click="copyPassword(`token${i}`)"
                    ></v-btn>
                  </v-col>
                  <v-col cols="4">
                    <div class="d-flex">
                      <v-btn
                        color="info"
                        class="btn ms-2 float-end"
                        icon="mdi-table"
                        @click="Sensor_Device(item.id.id, item.name)"
                        :disabled="disable_btn"
                      ></v-btn>
                      <v-btn
                        color="red"
                        class="btn ms-2 float-end"
                        icon="mdi-delete"
                        @click="DeleteDevice(item.id.id, item.name)"
                        :disabled="disable_btn"
                      ></v-btn>
                    </div>
                  </v-col>
                  <!-- <v-col cols="4">
                    <v-btn
                      color="red"
                      class="btn ms-2 float-end"
                      icon="mdi-delete"
                      @click="DeleteDevice(item.id.id, item.name)"
                      :disabled="disable_btn"
                    ></v-btn>
                  </v-col> -->
                </v-row>
              </div>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script setup>
import Swal from "sweetalert2";
import { onMounted, ref, defineProps } from "vue";
import ThingsboardService from "@/shared/services/ThingsboardService";
import storage from "@/shared/services/storage";
import router from "@/router";

const prop = defineProps({
  device: [],
});
const disable_btn = ref(false);

const Sensor_Device =(id)=>{
    return router.push(`/device-user/${id}`)
}

const DeleteDevice = async (id, name) => {
  Swal.fire({
    title: "Are you sure?",
    text: "ต้องการลบอุปกรณ์ ชื่อ " + name + " หรือ",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes, delete it!",
  }).then(async (result) => {
    if (result.isConfirmed) {
      disable_btn.value = true;
      await ThingsboardService.DeleteDevice(storage.get("token"), id).then(
        () => {
          Swal.fire({
            title: "Deleted!",
            text: "Your file has been deleted.",
            icon: "success",
          }).then(() => {
            disable_btn.value = false;
            window.location.reload();
          });
        }
      );
    }
  });
};

const toggleInputType = (id, Idel) => {
  ThingsboardService.GetTokenDevice(storage.get("token"), id).then((res) => {
    const el = document.querySelector(`#${Idel}`);
    el.value = res.data.credentialsId;
    if (el.type === "password") {
      el.type = "text";
    } else {
      el.type = "password";
    }
    token_device.value = res.data.credentialsId;
    // console.log(res.data);
  });
};

const copyPassword = (id) => {
  navigator.clipboard.writeText(document.querySelector(`#${id}`).value);
};
</script>

<style scoped></style>