<script setup lang="ts">
import { useRouter } from "vue-router";
import UserService from "@/shared/services/UserService";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { Subject, takeUntil } from "rxjs";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import Header from "@/layout/Header.vue";
import { useStore } from "vuex";
const bannerHt = ref<number>(0);
const isShowGetStart = ref<boolean>(true);
var destroy$: Subject<boolean> = new Subject<boolean>();
const store = useStore()
const bannerTitle = computed(() => store.state.bannerTitle)
const bannerSubTitle = computed(() => store.state.bannerSubTitle)
const bannerImage = computed(() => store.state.bannerImage)
const bannerDashboardLink = computed(() => store.state.bannerDashboardLink)

onMounted(() => {
  const resizeObserver = new ResizeObserver(() => {
    bannerHt.value = (document.getElementById('banner')?.clientHeight ?? 0) - 105
  });

  if (document.getElementById('banner') != null) {
    resizeObserver.observe(document.getElementById('banner') as HTMLElement);
  }

  isShowGetStart.value = UserService.getCurrentUser() == null;
  UserService.subscribeUser().pipe(takeUntil(destroy$)).subscribe(user => {
    if (user) {
      isShowGetStart.value = false;
    } else {
      isShowGetStart.value = true;
    }
  })
})

onUnmounted(() => {
  destroy$.next(true);
  destroy$.unsubscribe();
})

function getStarted() {
  UserService.subscribeLoginTrigger().next(true);
}

function goDashboard() {
  window.open(bannerDashboardLink.value, '_blank')
}

function wathcVideo() {
  window.open('https://youtube.com/@ThingsBoard', '_blank')
}

</script>

<template>
  <Header>
    <div class="page-header min-vh-75" :style="`background-image: url(${bannerImage})`" loading="lazy">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center mx-auto position-relative">
            <h1 class="text-white pt-3 mt-n5 me-2" :style="{ display: 'inline-block ' }">
              {{ bannerTitle }}
            </h1>
            <p class="lead text-white px-5 mt-3" :style="{ fontWeight: 500 }">
              {{ bannerSubTitle }}
            </p>

            <div class="row justify-space-between text-center py-2">
              <div class="col-12 mx-auto">
                <material-button class="my-4 mb-2 mr-3" :color="'danger'" @clicked="getStarted">
                  Get Started
                </material-button>
                <material-button class="my-4 mb-2 mr-3" :color="'secondary'" @clicked="wathcVideo">
                  WATCH VIDEO
                </material-button>
                <material-button class="my-4 mb-2 mr-3" :color="'warning'" @clicked="goDashboard">
                  Dashboard
                </material-button>
                <!-- <material-button class="my-4 mb-2" variant="outline" :color="'danger'"
                  @clicked="openDashboard(item['dashboard'])"> Dashboard
                </material-button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Header>
</template>


<style scoped></style>