<script setup lang="ts">
import UserService from '@/shared/services/UserService';
import ThingsboardService from '@/shared/services/ThingsboardService';
import storage from '@/shared/services/storage';
import router from '@/router';
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
const emit = defineEmits(['loginCompleted', 'register'])

const store = useStore()
const color = computed(() => store.state.color)
const username = ref<string | null>(null);
const password = ref<string | null>(null);
const errorMessage = ref<string | null>(null);
const userId = ref<string | null>(null);
const ADMIN_USER = ref<string | null>(null);
const ADMIN_PASS = ref<string | null>(null);

onMounted(() => {
    ADMIN_USER.value = import.meta.env.VITE_ADMIN_USER;
    ADMIN_PASS.value = import.meta.env.VITE_ADMIN_PASSWORD;
    // console.log("TB", storage.get("UserTB"));
})

function validateLogin(): boolean {
    if (
        username.value === null || username.value.trim().length == 0
        || password.value === null || password.value.trim().length == 0
    ) {
        return false;
    }
    return true;
}

function login() {
    errorMessage.value = null;
    UserService.Login({ username: username.value, password: password.value })
        .then((res: any) => {
            userId.value = res;
            UserService.getUserDetail(res)
                .then((detail: any) => {
                    UserService.setCurrentUser(detail)
                    loginThingsboard();
                })
        })
        .catch(err => {
            errorMessage.value = err
        });
}

const TB_LOGIN_ADMIN = () => {
    let token = ""
    ThingsboardService.Login({ username: ADMIN_USER.value, password: ADMIN_PASS.value }).then(({ data }) => {
        token = data?.token
    })
    return token;
}

function loginThingsboard() {
    ThingsboardService.Login({ username: ADMIN_USER.value, password: ADMIN_PASS.value }).then(({ data }) => {
        if (data?.token != null) {
            ThingsboardService.UserInfo(data?.token, username.value).then((res: any) => {
                // storage.set("UserTB", res?.data?.data);
                storage.set("UserTB", JSON.stringify(res?.data?.data));
                emit('loginCompleted', userId.value);
                router.replace({ name: 'home' });
            })
        }
    })
    // ThingsboardService.Login({ username: username.value, password: password.value }).then((res: any) => {
    //     if (res?.data?.token) {
    //         storage.set('tbtoken', res?.data?.token)

    //         console.log(TB_LOGIN_ADMIN());

    //         ThingsboardService.UserInfo(res?.data?.token, username.value).then((res: any) => {
    //             storage.set("UserTB", JSON.stringify(res?.data?.data))
    //             emit('loginCompleted', userId.value);
    //             router.replace({ name: 'home' })
    //         })
    //     }
    // }).catch((err: any) => {
    //     alert("Error :" + err.message)
    //     // console.log(err.message);

    // })
    // emit('loginCompleted', userId.value);
    // router.replace({ name: 'home' })
}

function register() {
    // emit('register')
    router.push({ name: 'register' })
}

</script>

<template>
    <div class="container-fluid py-10">
        <div class="card mx-5">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="shadow-success border-radius-lg pt-4 pb-3 text-center" :class="`active bg-gradient-${color}`">
                    <h4 class="text-white text-capitalize ps-3"> เข้าสู่ระบบ </h4>
                </div>
            </div>
            <div class="card-body text-center">
                <material-input id="username" label="username" class="mb-3" size="lg" v-model="username"></material-input>
                <material-input type="password" id="password" label="password" size="lg"
                    v-model="password"></material-input>
                <br>
                <p class="text-sm py-0 text-bold text-danger" v-if="errorMessage"> {{ errorMessage }} </p>
            </div>
            <div class="card-footer text-center pt-0">
                <material-button class="mx-1" variant="gradient" :color=color :disabled=!validateLogin() @clicked="login">
                    Login
                </material-button>
                <material-button class="mx-1" variant="outline" :color="'secondary'" @clicked="register"> register
                </material-button>
            </div>
        </div>
    </div>
</template>

<style scoped></style>