<script setup lang="ts">
import { onMounted, ref } from 'vue';
import * as am5 from '@amcharts/amcharts5';
import * as am5xy from '@amcharts/amcharts5/xy';
import am5themes_Animated from "@amcharts/amcharts5/themes/Animated";

const chartdiv = ref<HTMLCanvasElement | null>(null);
var chart, chartRoot, chartXAxis, chartYAxis, chartLegend;

onMounted(() => {

})

function mountChart() {
    if (chartRoot) {
        chartRoot.dispose();
        chartRoot = null;
    }
    if (!chartRoot) {
        chartRoot = am5.Root.new(chartdiv.value);
        chartRoot.setThemes([
            am5themes_Animated.new(chartRoot)
        ]);

        chart = chartRoot.container.children.push(
            am5xy.XYChart.new(chartRoot, {
                layout: chartRoot.verticalLayout,
                panX: true,
                panY: false,
            })
        );
        // Add cursor
        chart.set("cursor", am5xy.XYCursor.new(chartRoot, {}));
        chart.set("scrollbarX", am5.Scrollbar.new(chartRoot, { orientation: "horizontal" }));
        // Create Y-axis
        chartYAxis = chart.yAxes.push(
            am5xy.ValueAxis.new(chartRoot, {
                renderer: am5xy.AxisRendererY.new(chartRoot, {})
            })
        );
        // Create X-Axis
        chartXAxis = chart.xAxes.push(
            am5xy.DateAxis.new(chartRoot, {
                groupData: true,
                zoomStart: 1,
                baseInterval: { timeUnit: "minute", count: 1 },
                renderer: am5xy.AxisRendererX.new(chartRoot, {
                    pan: "zoom"
                })
            })
        );
        // Add legend
        chartLegend = chart.children.push(am5.Legend.new(chartRoot, {
            layout: chartRoot.horizontalLayout,
            nameField: "name",
            fillField: "color",
            strokeField: "color",
            centerX: am5.percent(50),
            x: am5.percent(50)
        }));
        chart.plotContainer.events.on("wheel", function (ev) {
            if (ev.originalEvent.ctrlKey) {
                ev.originalEvent.preventDefault();
                chart.set("wheelX", "panX");
                chart.set("wheelY", "zoomX");
            }
            else {
                chart.set("wheelX", "none");
                chart.set("wheelY", "none");
            }
        });
    }
}

</script>

<template>
    <div class="chart" ref="chartdiv"> </div>
</template>

<style lang="scss">
.chart {
    width: 100%;
    height: 500px;
    min-height: 500px;
}
</style>