<script setup lang="ts">
import { ref, reactive, onMounted, computed } from "vue";
// import { VueRecaptcha } from 'vue-recaptcha';
import { useReCaptcha } from "vue-recaptcha-v3";
import router from "@/router";
import ThingsboardService from "@/shared/services/ThingsboardService";
import { RegisterData } from "@/model/registerData.model";
import UserService from "@/shared/services/UserService";
import MasterService from "@/shared/services/masterService";
import roleService from "@/shared/services/roleService";
import type { RoleDTO } from "@/model/roleDTO.model";
import MaterialButton from "@/shared/components/MaterialButton.vue";
import MaterialInput from "@/shared/components/MaterialInput.vue";
import CustomSelect from "@/shared/components/CustomSelect.vue";
import { useStore } from "vuex";

const emit = defineEmits(["success"]);

const store = useStore();
const color = computed(() => store.state.color);
var siteKey = import.meta.env.VITE_Site_Key;
const registerData = reactive<RegisterData>(new RegisterData());
const errorMessage = ref<string | null>(null);
const facultyList = ref<any[]>([]);
const departmentList = ref<any[]>([]);
const majorList = ref<any[]>([]);
const roleList = ref<RoleDTO[]>([]);
const { executeRecaptcha, recaptchaLoaded } = useReCaptcha();
const token_tb = ref<string>("");
const Roles_User = ref<any[]>([
  "791768d6-5f60-4a50-93b2-56ce21b2f12d",
  "45605b0e-b3ee-4453-af85-51e9538589a6",
]); //student array0 techer array1

onMounted(() => {
  getFacultyList();
  getRoleList();
});

function getRoleList() {
  roleService.getRoleListForRegister().then((res: any) => {
    roleList.value = [...res];
  });
}

function getFacultyList() {
  MasterService.getFacultyList().then((res: any) => {
    facultyList.value = [...res];
  });
}
function onFacultyChange() {
  if (registerData.faculty) {
    getDepartmentList();
  } else {
    registerData.department = null;
    departmentList.value = [];
    registerData.major = null;
    majorList.value = [];
  }
}
function getDepartmentList() {
  MasterService.getDepartmentListByFaculty(registerData.faculty).then(
    (res: any) => {
      registerData.department = null;
      departmentList.value = [...res];
    }
  );
}
function onDepartmentChange() {
  if (registerData.department) {
    getMajorList();
  } else {
    registerData.major = null;
    majorList.value = [];
  }
}
function getMajorList() {
  MasterService.getMajorByDepartment(registerData.department).then(
    (res: any) => {
      registerData.major = null;
      majorList.value = [...res];
    }
  );
}

const recapcha = async () => {
  try {
    await recaptchaLoaded();
    const token: any = await executeRecaptcha("register");
    // const token = this.$recaptcha("LOGIN");
    verified(token);
  } catch (error) {
    console.error("reCAPTCHA error:", error);
  }
};

function cancel() {
  router.replace("../");
}

// function register() {
//   errorMessage.value = null;
//   recapcha();
//   // registerWebPortal();
//   registerThingsboard();
// }

const register = async () => {
  errorMessage.value = null;
  await recapcha();
  registerThingsboard();
};

const Get_info_customer = (user: string, password: string) => {
  ThingsboardService.Login({
    username: user,
    password: password,
  }).then((res) => {
    token_tb.value = res.data.token;
    ThingsboardService.GetCustomerAll(res.data.token, registerData.email).then(
      ({ data }) => {
        // console.log("GetCustomerAll", data.data[0].id);
        const Id_Group_User_current = data?.data[0].id.id;
        const GroupForMove =
          registerData.roleId == Roles_User.value[0]
            ? "Tricomm University"
            : "Professor";
        ThingsboardService.GetGroup(res.data.token, GroupForMove).then(
          ({ data }) => {
            const Id_Group_for_Move = data?.data[0].id.id;
            ThingsboardService.MoveGroup(
              token_tb.value,
              Id_Group_for_Move,
              Id_Group_User_current
            )
              .then((res) => {
                if (res.status != 200) {
                  errorMessage.value = "Cannot Move Group.";
                }
              })
              .catch((errr) => {
                errorMessage.value = errr?.response?.data?.message;
              });
          }
        );
      }
    );
  });
};

function registerThingsboard() {
  ThingsboardService.Register({
    firstName: registerData.firstName,
    lastName: registerData.lastName,
    email: registerData.email,
    password: registerData.password,
    recaptchaResponse: registerData.recaptcha,
  })
    .then((res) => {
      if (res) {
        Get_info_customer("tenant@thingsboard.org", "tenant");
        registerWebPortal();
      } else {
        // console.log(res);
        errorMessage.value = "Error Login";
      }
    })
    .catch((errr) => {
      errorMessage.value = errr?.response?.data?.message;
    });
}

function registerWebPortal() {
  UserService.register(registerData)
    .then((res) => {
      router.replace({ name: "login" });
    })
    .catch((errr) => {
      errorMessage.value = errr?.response?.data?.message;
    });
}

function verified(ev: any) {
  registerData.recaptcha = ev;
}

function canRegister() {
  if (
    registerData.firstName == null ||
    registerData.firstName.trim() == "" ||
    registerData.lastName == null ||
    registerData.lastName.trim() == "" ||
    registerData.email == null ||
    registerData.email.trim() == "" ||
    registerData.password == null ||
    registerData.password.trim() == "" ||
    // registerData.recaptcha == null ||
    !registerData.faculty ||
    !registerData.department ||
    !registerData.major ||
    !registerData.roleId
  ) {
    return false;
  } else {
    return true;
  }
}
</script>

<template>
  <div class="container-fluid py-5">
    <div class="card mx-5">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div
          class="shadow-success border-radius-lg pt-4 pb-3 text-center"
          :class="`active bg-gradient-${color}`"
        >
          <h4 class="text-white text-capitalize ps-3">สมัครสมาชิก</h4>
        </div>
      </div>
      <div class="card-body text-center">
        <material-input
          id="email"
          label="email"
          class="mb-3"
          v-model="registerData.email"
          :error="registerData.email == null || registerData.email.trim() == ''"
        ></material-input>

        <material-input
          type="password"
          id="password"
          label="password"
          class="mb-3"
          v-model="registerData.password"
          :error="
            registerData.password == null || registerData.password.trim() == ''
          "
        ></material-input>

        <custom-select
          class="mb-3"
          :label="'ตำแหน่ง'"
          :items="roleList"
          itemValue="id"
          itemTitle="roleName"
          v-model="registerData.roleId"
          :error="
            registerData.roleId == null || registerData.roleId.trim() == ''
          "
        >
        </custom-select>

        <material-input
          id="namePrefix"
          label="คำนำหน้าชื่อ"
          class="mb-3"
          v-model="registerData.namePrefix"
          :error="
            registerData.namePrefix == null ||
            registerData.namePrefix.trim() == ''
          "
        ></material-input>

        <material-input
          id="namePrefix"
          label="ชื่อ"
          class="mb-3"
          v-model="registerData.firstName"
          :error="
            registerData.firstName == null ||
            registerData.firstName.trim() == ''
          "
        ></material-input>

        <material-input
          id="namePrefix"
          label="นามสกุล"
          class="mb-3"
          v-model="registerData.lastName"
          :error="
            registerData.lastName == null || registerData.lastName.trim() == ''
          "
        ></material-input>

        <material-input
          id="namePrefix"
          label="เลขประจำตัวนักศึกษา"
          class="mb-3"
          v-model="registerData.identificationNumber"
        ></material-input>

        <custom-select
          class="mb-3"
          :label="'คณะ'"
          :items="facultyList"
          itemValue="id"
          itemTitle="name"
          v-model="registerData.faculty"
          v-on:update:modelValue="onFacultyChange"
          :error="
            registerData.faculty == null || registerData.faculty.trim() == ''
          "
        ></custom-select>

        <custom-select
          class="mb-3"
          :label="'ภาควิชา'"
          :items="departmentList"
          itemValue="id"
          itemTitle="name"
          v-model="registerData.department"
          v-on:update:modelValue="onDepartmentChange"
          :error="
            registerData.department == null ||
            registerData.department.trim() == ''
          "
        ></custom-select>

        <custom-select
          class="mb-3"
          :label="'สาขา'"
          :items="majorList"
          itemValue="id"
          itemTitle="name"
          v-model="registerData.major"
          :error="registerData.major == null || registerData.major.trim() == ''"
        ></custom-select>
        <br />
        <p class="text-sm py-0 text-bold text-danger" v-if="errorMessage">
          {{ errorMessage }}
        </p>
      </div>
      <div class="card-footer text-center pt-0">
        <material-button
          class="mx-1 g-recaptcha"
          variant="gradient"
          :color="color"
          :data-sitekey="siteKey"
          data-callback="onSubmit"
          :disabled="!canRegister()"
          @clicked="register"
        >
          สมัครสมาชิก
        </material-button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.err-msg {
  margin: 5px;
  color: red;
}

.my-dropdown-toggle {
  border-radius: 5px;
}

.v-card .v-card-text {
  max-height: 75vh;
  overflow: auto;

  @media screen and (height > 700) and (height < 850px) {
    max-height: 65vh;
  }

  @media screen and (height < 700px) {
    max-height: 50vh;
  }
}
</style>