<script setup lang="ts">

const props = defineProps<{
    path: string
}>()

</script>

<template>
    <vue3-video-player :src="path"></vue3-video-player>
</template>

<style lang="scss" scoped></style>