@import "badges/badge-circle";
@import "badges/badge-dot";
@import "badges/badge-floating";
@import "badges/badge";
@each $prop, $value in $theme-colors {
  .badge.bg-#{$prop} {
    background: $value;
  }
}
.badge {
  text-transform: uppercase;
}
