<script setup lang="ts">
import { RouterView, useRoute } from 'vue-router'
import { distinctUntilChanged } from 'rxjs';
import { ref, onMounted, watch } from 'vue';
import { ConfigurationCode } from './shared/enums/configurationCode.enum';
import type { UserDetail } from './model/userDetail.model';
import storage from './shared/services/storage';
import systemConfigService from './shared/services/systemConfigService';
import UserService from './shared/services/UserService';
import { mapMutations, mapState, useStore } from "vuex";
import Configurator from "@/layout/Configurator.vue";
import Sidenav from "./layout/Sidenav/index.vue";
import AppFooter from "./layout/PageLayout/Footer.vue";
import Navbar from "./layout/PageLayout/Navbar.vue";
import { computed } from 'vue';
import router from './router';

const route = useRoute()
const stickyNav = ref(false);
const showLogin = ref(false)
const showRegister = ref(false)
const showRegisterComplete = ref(false)
const loginToken = ref<any>(null);
const currentUser = ref<UserDetail | null>(null);
const logo = ref<string[]>([]);
const store = useStore()
const toggleConfigurator = mapMutations(["toggleConfigurator"])
const navbarMinimize = mapMutations(["navbarMinimize"])
const color = computed(() => store.state.color)
const isAbsolute = computed(() => store.state.isAbsolute)
const isNavFixed = computed(() => store.state.isNavFixed)
const navbarFixed = computed(() => store.state.navbarFixed)
const absolute = computed(() => store.state.absolute)
const showSidenav = computed(() => store.state.showSidenav)
const showNavbar = computed(() => store.state.showNavbar)
const showFooter = computed(() => store.state.showFooter)
const showConfig = computed(() => store.state.showConfig)
const hideConfigButton = computed(() => store.state.hideConfigButton)

onMounted(() => {
  systemConfigService.onConfigChanged.pipe(distinctUntilChanged()).subscribe(x => getConfig())
  loginToken.value = storage.get('userId')
  UserService.subscribeUser().subscribe(user => {
    if (user) {
      currentUser.value = user
      if (!currentUser.value) {
        getUserDetail()
      }
    } else {
      Logout();
    }
  })

  UserService.subscribeLoginTrigger().subscribe(trigger => {
    if (trigger == true) {
      router.push({ name: 'login' })
    }
  })
  if (loginToken.value) getUserDetail();
})

watch(
  () => route.name,
  async routeName => {
    stickyNav.value = routeName == 'home';
  }
)

function getConfig() {
  systemConfigService.getSystemConfigurationData().then((res: any) => {
    systemConfigService.setSystemConfigurationData(res)
    systemConfigService.onConfigChanged.next(JSON.stringify(res));
    logo.value = [...systemConfigService.getConfigValue(ConfigurationCode.Logo)] ?? []
  })
}

function getUserDetail() {
  UserService.getUserDetail(loginToken.value)
    .then((res: any) => {
      UserService.setCurrentUser(res);
      currentUser.value = res
    })
}

function onRegisterCompleted() {
  showRegister.value = false;
  showRegisterComplete.value = true;
}

function onLoginCompleted(token: any) {
  storage.set('userId', token)
  loginToken.value = token;
  showLogin.value = false;
  UserService.getUserDetail(token).then((user: any) => {
    UserService.setCurrentUser(user)
  })
}

function Logout() {
  storage.remove('userId')
  loginToken.value = null;
  currentUser.value = null;
}
</script>

<template>
  <sidenav :custom_class="color" v-if="showSidenav" />
  <main class="main-content position-relative max-height-vh-100 h-100 overflow-x-hidden">
    <!-- nav -->
    <navbar :class="[isNavFixed ? navbarFixed : '', isAbsolute ? absolute : '']"
      :color="isAbsolute ? 'text-white opacity-8' : ''" :minNav="navbarMinimize" v-if="showNavbar" />
    <router-view />
    <app-footer v-show="showFooter" />
    <configurator :toggle="toggleConfigurator" :class="[showConfig ? 'show' : '', hideConfigButton ? 'd-none' : '']" />
  </main>

  <!-- <div class="container position-sticky z-index-sticky top-0" v-if="stickyNav">
    <div class="row">
      <div class="col-12">
        <NavbarDefault :sticky="stickyNav" />
      </div>
    </div>
  </div>
  <NavbarDefault v-if="!stickyNav" />
  <br v-if="!stickyNav">
  <router-view />

  <v-dialog v-model="showLogin">
    <Login v-if="showLogin" @register="showRegister = true; showLogin = false;"
      @loginCompleted="onLoginCompleted($event)" />
  </v-dialog>
  <v-dialog v-model="showRegister">
    <Register v-if="showRegister" @success="onRegisterCompleted()" />
  </v-dialog>
  <v-dialog v-model="showRegisterComplete">
    กรุณาตรวจสอบอีเมลเพื่อยืนยันการลงทะเบียน
  </v-dialog> -->
</template>

<style>
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
</style>