<script setup lang="ts">
import { RouterLink } from "vue-router";
import { onMounted, onUnmounted, ref, watch } from "vue";
// import { useWindowsWidth } from "@/assets/js/useWindowsWidth";

// images
import ArrDark from "@/assets/img/down-arrow-dark.svg";
import downArrow from "@/assets/img/down-arrow.svg";
import DownArrWhite from "@/assets/img/down-arrow-white.svg";
import UserService from "@/shared/services/UserService";
import systemConfigService from "@/shared/services/systemConfigService";
import { distinctUntilChanged, Observable, Subject, takeUntil } from "rxjs";
import { ConfigurationCode } from '@/shared/enums/configurationCode.enum';
import EmptyBanner from '@/assets/images/empty-banner.png';
import storage from "@/shared/services/storage";
import type { UserDetail } from "@/model/userDetail.model";

const props = defineProps({
  action: {
    type: Object,
    route: String,
    color: String,
    label: String,
    default: () => ({
      route: "https://www.creative-tim.com/product/vue-material-kit",
      color: "bg-gradient-success",
      label: "Free Download"
    })
  },
  transparent: {
    type: Boolean,
    default: false
  },
  light: {
    type: Boolean,
    default: false
  },
  dark: {
    type: Boolean,
    default: false
  },
  sticky: {
    type: Boolean,
    default: false
  },
  darkText: {
    type: Boolean,
    default: false
  }
});

// set arrow  color
function getArrowColor() {
  if (props.transparent && textDark.value) {
    return ArrDark;
  } else if (props.transparent) {
    return DownArrWhite;
  } else {
    return ArrDark;
  }
}

// set text color
const getTextColor = () => {
  let color;
  if (props.transparent && textDark.value) {
    color = "text-dark";
  } else if (props.transparent) {
    color = "text-white";
  } else {
    color = "text-dark";
  }

  return color;
};

// set nav color on mobile && desktop

let textDark = ref(props.darkText);
// const { type } = useWindowsWidth();

// if (type.value === "mobile") {
//   textDark.value = true;
// } else if (type.value === "desktop" && textDark.value == false) {
//   textDark.value = false;
// }

// watch(
//   () => type.value,
//   (newValue) => {
//     if (newValue === "mobile") {
//       textDark.value = true;
//     } else {
//       textDark.value = false;
//     }
//   }
// );

const logo = ref<string[]>([]);
const loginToken = ref<any>(null);
const currentUser = ref<UserDetail | null>(null);
var destroy$: Subject<boolean> = new Subject<boolean>();
onMounted(() => {
  systemConfigService.onConfigChanged.pipe(distinctUntilChanged(), takeUntil(destroy$)).subscribe(x => {
    logo.value = [...systemConfigService.getConfigValue(ConfigurationCode.Logo)] ?? []
  })

  loginToken.value = storage.get('userId')
  currentUser.value = UserService.getCurrentUser();
  UserService.subscribeUser().pipe(distinctUntilChanged(), takeUntil(destroy$)).subscribe(user => {
    if (user) {
      currentUser.value = user
      loginToken.value = storage.get('userId')
    }
  })

})

onUnmounted(() => {
  destroy$.next(true);
  destroy$.unsubscribe();
})


function clickLogin() {
  UserService.subscribeLoginTrigger().next(true);
}

</script>
<template>
  <nav class="navbar navbar-expand-lg top-0" :class="{
    'z-index-3 w-100 shadow-none navbar-transparent position-absolute my-3':
      props.transparent,
    'my-3 blur border-radius-lg z-index-3 py-2 shadow py-2 start-0 end-0 mx-4 position-absolute mt-4':
      props.sticky,
    'navbar-light bg-white py-3': props.light,
    ' navbar-dark bg-gradient-dark z-index-3 py-3': props.dark
  }">
    <div :class="
      props.transparent || props.light || props.dark
        ? 'container'
        : 'container-fluid px-0'
    ">
      <span class="navbar-brand d-block d-md-block" :class="[
        (props.transparent && textDark) || !props.transparent
          ? 'text-dark font-weight-bolder ms-sm-3'
          : 'text-white font-weight-bolder ms-sm-3']">
        <div v-if="!logo || logo.length == 0">
          <v-avatar class="logo" rounded="0">
            <v-img :src="EmptyBanner"></v-img>
          </v-avatar>
        </div>
        <div v-if="logo && logo.length >= 1">
          <v-avatar rounded="0" v-for="lo in logo" class="mr-1">
            <v-img :src="lo"></v-img>
          </v-avatar>
        </div>

      </span>

      <v-btn class="btn btn-sm mb-0 ms-auto d-lg-none d-block" variant="tonal" color="primary" @click="clickLogin"
        v-if="!loginToken">
        เข้าสู่ระบบ </v-btn>
      <v-btn variant="tonal" color="primary" class="btn btn-sm mb-0 ms-auto d-lg-none d-block" v-if="loginToken"
        :to="{ name: 'user' }"> {{
          currentUser?.firstName
        }} </v-btn>

      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <li class="nav-item dropdown dropdown-hover mx-2">
            <RouterLink :to="{ name: 'home' }" class="opacity-6 me-2 text-md">
              หน้าแรก
            </RouterLink>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <RouterLink :to="{ name: 'project' }" class="opacity-6 me-2 text-md">
              โครงงาน
            </RouterLink>
          </li>

          <li class="nav-item dropdown dropdown-hover mx-2">
            <RouterLink :to="{ name: 'manual' }" class="opacity-6 me-2 text-md">
              คู่มือการใช้งาน
            </RouterLink>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <RouterLink :to="{ name: 'contact-us' }" class="opacity-6 me-2 text-md">
              ติดต่อเรา
            </RouterLink>
          </li>
        </ul>

        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <v-btn class="btn btn-sm mb-0" variant="tonal" color="primary" @click="clickLogin" v-if="!loginToken">
              เข้าสู่ระบบ </v-btn>
            <v-btn variant="tonal" color="primary" class="btn btn-sm mb-0" v-if="loginToken" :to="{ name: 'user' }"> {{
              currentUser?.firstName
            }} </v-btn>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>